<div id="jPanelCS">
	<div class="panlReldCvr"></div>
	<div class="cfmCvr"></div>
	<div class="cfmOnAlgoDiv cfmSec cfgSec">
		<span class="cfmDsr">Algo engine is running or out standing open order exist.</br> Continue to start algo ?</span>
		<div class="cfmBtn">
			<div class="cfmOnCnlBtn cfmBtnDiv btnDiv">
				<span><i class="fa fa-undo" ></i> Cancel</span>
			</div>
			<div class="cfmOnCfmBtn cfmBtnDiv btnDiv">
				<span><i class="fa fa-play" ></i> Confirm</span>
			</div>
		</div>
	</div>
	<div class="cfgPanlSec cfgSec">
		<div class="cfgTypeDiv">
			<div class="cfgTypeIconDiv">
				<i class="fa fa-cog"></i>
			</div>
			<div class="cfgUpdFeqDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-heartbeat"></i></div>
				<span class="cfgDsrSp">Update Frequency (Sec)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0">
				</div>
			</div>
			<div class="cfgRepOrdDlyDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-clock-o"></i></div>
				<span class="cfgDsrSp">Replace Order Delay (Sec)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0">
				</div>
			</div>
			<div class="cfgOrdMethodDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-area-chart"></i></div>
				<span class="cfgDsrSp">Order Method (Sec)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0">
				</div>
				<div class="cfgSeltDiv">
					<form class="custom">
						<select class="cfgSlet expand">
							<option value="Normal">Normal</option>
							<option value="SLOW">SLOW</option>
							<option value="MA">MA</option>
						</select>
					</form>
				</div>
			</div>
			<div class="cfgOrdTypeDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-caret-square-o-down"></i></div>
				<span class="cfgDsrSp">Order Type</span>
				<div class="cfgSeltDiv">
					<form class="custom">
						<select class="cfgSlet expand">
							<option value="LO2">LO2</option>
							<option value="SO2">SO2</option>
						</select>
					</form>
				</div>
			</div>
			<div class="cfgAlertSoundDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-bullhorn"></i></div>
				<span class="cfgDsrSp">Alert</span>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgAutoChgModeDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-th-large"></i></div>
				<span class="cfgDsrSp">Auto Change Mode</span>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgAutoOnDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-power-off"></i></div>
				<span class="cfgDsrSp">Auto Turn On</span>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgSendTelgDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-envelope"></i></div>
				<span class="cfgDsrSp">Send Message to Telegram</span>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgShowLogDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-code"></i></div>
				<span class="cfgDsrSp">Display Console Log</span>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
		</div>
		<div class="userInfoDiv infoDiv">
			<span id="userInfoIcon"><i class="fa fa-user"></i></span>
			<span id="userInfoID"></span>
			<span id="userInfoIP"></span>
		</div>
		<div class="cfgPanlCfmDiv cfgBtnDiv btnDiv">
			<span class="cfgCfmBtn"><i class="fa fa-floppy-o"></i> Save</span>
		</div>
		<div class="cfgReldDiv cfgBtnDiv btnDiv">
			<span class="cfgReldBtn">&#x21bb;</span>
		</div>
	</div>
	<div class="cfgGuarSec cfgSec">
		<div class="cfgTypeDiv">
			<div class="cfgTypeIconDiv">
				<i class="fa fa-shield"></i>
			</div>
			<span class="dsrSp">Flat</span>
			<span class="dsrSp">Off</span>
			<span class="dsrSp">On</span>
			<div class="cfgOpenOrdDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-minus-circle"></i></div>
				<span class="cfgDsrSp">Open Order Monitor</span>
				<div class="cfgCutChkDiv">
					<input type="checkbox" class="cfgCutChk" disabled>
				</div>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgSlowFedDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-minus-circle"></i></div>
				<span class="cfgDsrSp">Slow Feed Detect</span>
				<div class="cfgCutChkDiv">
					<input type="checkbox" class="cfgCutChk" disabled>
				</div>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgTwiceFillDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-minus-circle"></i></div>
				<span class="cfgDsrSp">Fill Twice in a Minute</span>
				<div class="cfgCutChkDiv">
					<input type="checkbox" class="cfgCutChk" disabled>
				</div>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgFilledQtyDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-minus-circle"></i></div>
				<span class="cfgDsrSp">Maximum Filled Quantity (Lots)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0" disabled>
				</div>
				<div class="cfgCutChkDiv">
					<input type="checkbox" class="cfgCutChk" disabled>
				</div>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgNetPosDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-minus-circle"></i></div>
				<span class="cfgDsrSp">Maximum Net Position (Lots)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0" disabled>
				</div>
				<div class="cfgCutChkDiv">
					<input type="checkbox" class="cfgCutChk" disabled>
				</div>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgMaxLossDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-minus-circle"></i></div>
				<span class="cfgDsrSp">Maximum Loss (USD)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0" disabled>
				</div>
				<div class="cfgCutChkDiv">
					<input type="checkbox" class="cfgCutChk" disabled>
				</div>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgLossFromTopDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-minus-circle"></i></div>
				<span class="cfgDsrSp">Maximum Loss From Top (USD)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0" disabled>
				</div>
				<div class="cfgCutChkDiv">
					<input type="checkbox" class="cfgCutChk" disabled>
				</div>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgVolumeDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-minus-circle"></i></div>
				<span class="cfgDsrSp">Maximum Averager Volume (Lots)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0" disabled>
				</div>
				<div class="cfgCutChkDiv">
					<input type="checkbox" class="cfgCutChk" disabled>
				</div>
				<div class="cfgChkDiv">
					<input type="checkbox" class="cfgChk">
				</div>
			</div>
			<div class="cfgResumeVolumeDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-minus-circle"></i></div>
				<span class="cfgDsrSp">Resume Volume (Lots)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0" disabled>
				</div>
				<div class="cfgOnChkDiv">
					<input type="checkbox" class="cfgOnChk" disabled>
				</div>
			</div>
			<div class="cfgNoTradeDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-minus-circle"></i></div>
				<span class="cfgDsrSp">No Trade in a Period of Time (Second)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0" disabled>
				</div>
				<div class="cfgOnChkDiv">
					<input type="checkbox" class="cfgOnChk">
				</div>
			</div>
			<div class="cfgAlgoOffFlatDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-cog"></i></div>
				<span class="cfgDsrSp">Enable Auto Flat When Algo is Off</span>
				<div class="cfgOnChkDiv">
					<input type="checkbox" class="cfgOnChk">
				</div>
			</div>
			<div class="cfgAutoFlatQtyDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-cog"></i></div>
				<span class="cfgDsrSp">Auto Flat Quantity (%)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0">
				</div>
			</div>
			<div class="cfgAutoFlatMaxQtyDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-cog"></i></div>
				<span class="cfgDsrSp">Maximum Auto Flat Quantity (Lots)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0">
				</div>
			</div>
			<div class="cfgFuseStopQtyDiv cfgDiv">
				<div class="cfgIconDiv"><i class="fa fa-cog"></i></div>
				<span class="cfgDsrSp">Fuse Stop Quantity (Lots)</span>
				<div class="cfgTxtDiv">
					<input type="text" class="txtIpt" value="0">
				</div>
			</div>
		</div>
		<div class="cfgGuarCfmDiv cfgBtnDiv btnDiv">
			<span class="cfgCfmBtn"><i class="fa fa-floppy-o" ></i> Save</span>
		</div>
	</div>
	<div class="cfgModeSec cfgSec">
		<div class="cfgModeSecCvr"></div>
		<div class="cfgTypeDiv">
			<div class="cfgTypeIconDiv">
				<i class="fa fa-th-large"></i>
			</div>
			<div class="cfgModeListDiv cfgDiv">
				<ul class="cfgModeListUl">
				</ul>
				<div class="cfgModeBtnDiv">
					<div class="cfgModeNewDiv cfgBtnDiv btnDiv">
						<span class="cfgModeNewBtn"><i class="fa fa-th-large" ></i> New</span>
					</div>
					<div class="cfgModeSaveDiv cfgBtnDiv btnDiv">
						<span class="cfgModeSaveBtn"><i class="fa fa-floppy-o" ></i> Save</span>
					</div>
					<div class="cfgModeRenameDiv cfgBtnDiv btnDiv">
						<span class="cfgModeRenameBtn"><i class="fa fa-font" ></i> Rename</span>
					</div>
					<div class="cfgModeDeleteDiv cfgBtnDiv btnDiv">
						<span class="cfgModeDeleteBtn"><i class="fa fa-trash-o" ></i> Delete</span>
					</div>
					<div class="cfgModeDeleteAllDiv cfgBtnDiv btnDiv">
						<span class="cfgModeDeleteAllBtn"><i class="fa fa-trash-o" ></i> Del All</span>
					</div>
				</div>
			</div>
			<div class="cfgModeCfmSec">
				<div class="cfgModeIptDiv cfgModeDiv">
					<span class="cfgModeIptWarn">Please input alphanumeric characters. (A-Z,0-9 )</span>
					<div class="iptDiv">
						<input type="text" class="txtIpt" value="" maxlength="8">
					</div>
				</div>
				<div class="cfgModeTxtDiv cfgModeDiv" >
					<span class="cfgModeTxtSn"></span>
				</div>
				<div class="cfgModeBtnDiv">
					<div class="cfgModeCnlDiv cfgBtnDiv btnDiv">
						<span class="cfgModeCnlBtn"><i class="fa fa-undo" ></i> Cancel</span>
					</div>
					<div class="cfgModeCfmDiv cfgBtnDiv btnDiv">
						<span class="cfgModeCfmBtn"><i class="fa fa-floppy-o" ></i> Confirm</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cfgErrorSec cfgSec">
		<div class="cfgTypeIconDiv">
			<i class="fa fa-exclamation-triangle"></i>
		</div>
		<div class="cfgErrorDiv cfgDiv">
			<span class="cfgMsgSp">Testing Words</span>
		</div>
		<div class="cfgErrorCnlBtnDiv cfgBtnDiv btnDiv">
			<span class="cfgErrorCnlBtn"><i class="fa fa-times" ></i> Close</span>
		</div>
	</div>
	<div class="panlSec">
		<div class="titleSec">
			<div class="panlReldNtcSec titleDiv">
				<div class="panlReldNtcDiv">
					<div class="panlReldLdDiv"></div>
					<span class="panlReldNtcSn panlReldSn">System was updated. The page will be reloaded in <span class="panlReldTimeSn"></span> second
					</span>
					<span class="panlReldWarnSn panlReldSn">System was updated. Please reload the Page.</span>
				</div>
			</div>
			<div class="panlPauseNtcSec titleDiv">
				<div class="panlPauseNtcDiv">
					<div class="panlPauseLdDiv"></div>
					<span class="panlPauseNtcSn panlPauseSn">Pause</span>
				</div>
			</div>
			<div class="panlStopNtcSec titleDiv">
				<div class="panlStopNtcDiv">
					<div class="panlStopLdDiv"></div>
					<span class="panlStopNtcSn">Stopping All</span>
				</div>
			</div>
			<div class="panlSwDiv">
				<label class="panlSwLbl swOnLbl">
					<input type="radio" class="swIpt" value="On">On
				</label>
				<label class="panlSwLbl swOffLbl panlSwChked">
					<input type="radio" class="swIpt" value="Off">Off
				</label>
				<label class="panlSwLbl swOffLbl panlSwChked swFlatLbl">
					<input type="radio" class="swIpt" value="Flat">Flat
				</label>
				<span class="panlSwBg"></span>
			</div>
			<div class="panlAddDiv panlBtnDiv btnDiv">
				<span class="panlAddBtn"><i class="fa fa-plus"></i></span>
			</div>
			<div class="panlDelAllDiv panlBtnDiv btnDiv">
				<span class="panlDelAllBtn"><i class="fa fa-times"></i></span>
			</div>
			<div class="panlCfgDiv panlBtnDiv btnDiv">
				<span class="panlCfgBtn"><i class="fa fa-cog"></i></span>
			</div>
			<div class="panlSortDiv panlBtnDiv btnDiv">
				<span class="panlSortAscBtn panlSortBtn"><i class="fa fa-sort-amount-desc"></i></span>
				<span class="panlSortDescBtn panlSortBtn"><i class="fa fa-sort-amount-asc"></i></span>
			</div>
			<div class="panlMaxProfitDiv">
				<span class="panlMaxProfitSn">$0</span>
			</div>
			<div class="panlCurrentModeDiv">
				<span class="panlCurrentModeSn"></span>
			</div>
			<div class="panlModeDiv panlBtnDiv btnDiv">
				<span class="panlModeBtn"><i class="fa fa-th-large"></i></span>
			</div>
			<div class="panlGuarDiv panlBtnDiv btnDiv">
				<span class="panlGuarBtn"><i class="fa fa-shield"></i></span>
			</div>
			<div class="panlSaveDiv panlBtnDiv btnDiv">
				<span class="panlSaveBtn"><i class="fa fa-floppy-o"></i></span>
			</div>
			<div class="panlAllowTradeDiv">
				<span class="panlAllowTradeBtn"><i class="fa fa-ban"></i></span>
				<span class="panlAllowTradeSn"></span>
			</div>
		</div>
		<div class="defMacRow">
			<div class="cfgRowSec cfgSec">
				<div class="cfgTypeIconDiv">
					<i class="fa fa-cog"></i>
				</div>
				<div class="cfgRowUpdFeqDiv cfgDiv">
					<div class="cfgIconDiv"><i class="fa fa-heartbeat"></i></div>
					<span class="cfgDsrSp">Update Frequency</span>
					<div class="cfgTxtDiv">
						<input type="text" class="txtIpt" value="0">
					</div>
				</div>
				<div class="cfgRowRepOrdDlyDiv cfgDiv">
					<div class="cfgIconDiv"><i class="fa fa-clock-o"></i></div>
					<span class="cfgDsrSp">Replace Order Delay</span>
					<div class="cfgTxtDiv">
						<input type="text" class="txtIpt" value="0">
					</div>
				</div>
				<div class="cfgRowOrdMethodDiv cfgDiv">
					<div class="cfgIconDiv"><i class="fa fa-area-chart"></i></div>
					<span class="cfgDsrSp">Order Method</span>
					<div class="cfgTxtDiv">
						<input type="text" class="txtIpt" value="0">
					</div>
					<div class="cfgSeltDiv">
						<form class="custom">
							<select class="cfgSlet expand">
								<option value="Normal">Normal</option>
								<option value="SLOW">SLOW</option>
								<option value="MA">MA</option>
							</select>
						</form>
					</div>
				</div>
				<div class="cfgRowOrdTypeDiv cfgDiv">
					<div class="cfgIconDiv"><i class="fa fa-caret-square-o-down"></i></div>
					<span class="cfgDsrSp">Order Type</span>
					<div class="cfgSeltDiv">
						<form class="custom">
							<select class="cfgSlet expand">
								<option value="LO2">LO2</option>
								<option value="SO">SO</option>
							</select>
						</form>
					</div>
				</div>
				<div class="rowInfoDiv infoDiv">
					<span class="rowInfoID"></span>
				</div>
				<div class="cfgRowCfmDiv cfgBtnDiv btnDiv">
					<span class="cfgCfmBtn"><i class="fa fa-floppy-o" ></i> Save</span>
				</div>
			</div>
			<div class="cfgSymSprdDiv cfgSec">
				<div class="cfgTypeIconDiv">
					<i class="fa fa-exchange"></i>
				</div>
				<div class="cfgDiv">
					<div class="sprdSlidrDiv">
						<div class="sprdSlidr" ></div>
						<div class="bidLine vertiLine"></div>
						<div class="askLine vertiLine"></div>
					</div>
					<div class="bidSprdDiv symSprdDiv">
						<span class="dsrTxt">Bid Spread </span>
						<div class="iptDiv">
							<input type="text" class="txtIpt sprdIpt" value="0" disabled>
						</div>
					</div>
					<div class="askSprdDiv symSprdDiv">
						<div class="iptDiv">
							<input type="text" class="txtIpt sprdIpt" value="0" disabled>
						</div>
						<span class="dsrTxt">Ask Spread </span>
					</div>
					<div class="addSprdBtn sprdBtn btnDiv">
						<span><i class="fa fa-plus"></i></span>
					</div>
					<div class="minusSprdBtn sprdBtn btnDiv">
						<span><i class="fa fa-minus"></i></span>
					</div>
					<div class="bidShfitBtn sprdBtn btnDiv">
						<span><i class="fa fa-angle-double-left"></i></span>
					</div>
					<div class="askShfitBtn sprdBtn btnDiv">
						<span><i class="fa fa-angle-double-right"></i></span>
					</div>
					<div class="resetSprdBtn sprdBtn btnDiv">
						<span><i class="fa fa-undo"></i></span>
					</div>
					<div class="cfgSymSprdCfmDiv cfgBtnDiv btnDiv">
						<span class="cfgCfmBtn"><i class="fa fa-floppy-o" ></i> Save</span>
					</div>
				</div>
			</div>
			<div class="rowSec">
				<div class="rowDelDiv rowBtnDiv btnDiv"><i class="fa fa-times"></i></div>
				<div class="rowCfgDiv rowBtnDiv btnDiv"><i class="fa fa-cogs"></i></div>
				<div class="rowSortDiv rowBtnDiv btnDiv"><i class="fa fa-sort"></i></div>
				<div class="rowSprdDiv rowBtnDiv btnDiv"><i class="fa fa-exchange"></i></div>
				<div class="rowSprdDiv rowBtnDiv btnDiv"><i class="fa fa-exchange"></i></div>
				<div class="bidSec sideSec">
					<div class="macInfDiv" >
						<div class="infSprdDiv infDiv">
							<span class="dsrTxt">Bid Spd</span>
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
							<div class="trigLgtDiv"></div>
						</div>
						<div class="infPxDiv infDiv">
							<span class="dsrTxt">Placed Px</span>
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
						</div>
						<div class="infQtyDiv infDiv">
							<span class="dsrTxt">Filled Qty</span>
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
						</div>
					</div>
					<div class="swDiv macSw">
						<label class="macSwLbl swOnLbl">
							<input type="radio" class="swIpt" value="On">On
						</label>
						<label class="macSwLbl swOffLbl swChked">
							<input type="radio" class="swIpt" value="Off" checked>Off
						</label>
					</div>
					<div class="macSec">
						<div class="ctrlCvr macCvr"></div>
						<div class="ctrlSec">
							<div class="ctrlDiv ctrlPipsDiv">
								<span class="dsrTxt">Pips</span>
								<div class="iptDiv">
									<input type="text" class="txtIpt">
								</div>
								<div class="sldrBg pxSldrBg">
									<div class="sldrHd ui-slider-handle"></div>
								</div>
								<input type="text" class="ctrlVal" value="0">
							</div>
							<div class="ctrlDiv ctrlQtyDiv">
								<span class="dsrTxt">Qty</span>
								<div class="iptDiv">
									<input type="text" class="txtIpt">
								</div>
								<div class="sldrBg qtySldrBg">
									<div class="sldrHd ui-slider-handle"></div>
								</div>
								<input type="text" class="ctrlVal" value="0">
							</div>
						</div>
						<div class="ifdSwDiv">
							<!-- <label class="ifdSwLbl ifdSwChked"> -->
								<!-- <input type="radio" class="ifdSwIpt" value="1" checked>Stop on Partial Fill -->
							<!-- </label> -->
							<!-- <label class="ifdSwLbl"> -->
								<!-- <input type="radio" class="ifdSwIpt" value="2">Stop on Complete Fill -->
							<!-- </label> -->
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="9"checked>Non-Stop
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="10">Stop All
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="11">Stop All and Sell <span class="stopAllQtySn"></span> Lots
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="12">Auto On If No Trade
							</label>
							<span class="ifdSwBg"></span>
						</div>
					</div>
				</div>
				<div class="rowInfSec">
					<div class="rowInfCvr macCvr"></div>
					<div class="rowIconDiv">
						<i class="fa fa-globe"></i>
					</div>
					<div class="rowConDiv">
						<div class="ecnDiv rowInfDiv">
							<form class="custom">
								<select class="ecnSlt rowInfSlt expand" >
									<option value="HKE">HKE</option>
								</select>
							</form>
						</div>
						<div class="symDiv rowInfDiv">
							<form class="custom">
								<select class="symSlt rowInfSlt expand" >
								</select>
							</form>
						</div>
					</div>
				</div>
				<div class="askSec sideSec">
					<div class="macInfDiv" >
						<div class="infSprdDiv infDiv">
							<div class="trigLgtDiv"></div>
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
							<span class="dsrTxt">Ask Spd</span>
						</div>
						<div class="infPxDiv infDiv">
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
							<span class="dsrTxt">Placed Px</span>
						</div>
						<div class="infQtyDiv infDiv">
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
							<span class="dsrTxt">Filled Qty</span>
						</div>
					</div>
					<div class="swDiv macSw">
						<label class="macSwLbl swOnLbl">
							<input type="radio" class="swIpt" value="On">On
						</label>
						<label class="macSwLbl swOffLbl swChked">
							<input type="radio" class="swIpt" value="Off" checked>Off
						</label>
					</div>
					<div class="macSec">
						<div class="ctrlCvr macCvr"></div>
						<div class="ctrlSec">
							<div class="ctrlDiv ctrlPipsDiv">
								<div class="sldrBg pxSldrBg">
									<div class="sldrHd ui-slider-handle"></div>
								</div>
								<div class="iptDiv">
									<input type="text" class="txtIpt">
								</div>
								<span class="dsrTxt">Pips</span>
								<input type="text" class="ctrlVal" value="0">
							</div>
							<div class="ctrlDiv ctrlQtyDiv">
								<div class="sldrBg qtySldrBg">
									<div class="sldrHd ui-slider-handle"></div>
								</div>
								<div class="iptDiv">
									<input type="text" class="txtIpt">
								</div>
								<span class="dsrTxt">Qty</span>
								<input type="text" class="ctrlVal" value="0">
							</div>
						</div>
						<div class="ifdSwDiv">
							<!-- <label class="ifdSwLbl ifdSwChked"> -->
								<!-- <input type="radio" class="ifdSwIpt" value="1" checked>Stop on Partial Fill -->
							<!-- </label> -->
							<!-- <label class="ifdSwLbl"> -->
								<!-- <input type="radio" class="ifdSwIpt" value="2">Stop on Complete Fill -->
							<!-- </label> -->
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="9" checked>Non-Stop
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="10">Stop All
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="11">Stop All and Buy <span class="stopAllQtySn"></span> Lots
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="12">Auto On If No Trade
							</label>
							<span class="ifdSwBg"></span>
						</div>
					</div>
				</div>
				<div class="rowSpecSec">
					<div class="rowParmDiv">
						<div class="rowIconDiv">
							<i class="fa fa-cog"></i>
						</div>
						<div class="rowConDiv">
							<div class="cfgOrderQtyDiv parmDiv">
								<span class="cfgDsrSp">Quantity</span>
								<div class="cfgTxtDiv">
									<input type="text" class="txtIpt" value="0">
								</div>
							</div>
							<div class="cfgEnterSpreadDiv parmDiv">
								<span class="cfgDsrSp">Enter Spread</span>
								<div class="cfgTxtDiv">
									<input type="text" class="txtIpt" value="0">
								</div>
							</div>
							<div class="cfgExitSpreadDiv parmDiv">
								<span class="cfgDsrSp">Exit Spread</span>
								<div class="cfgTxtDiv">
									<input type="text" class="txtIpt" value="0">
								</div>
							</div>
							<div class="cfgHoldTimeDiv parmDiv">
								<span class="cfgDsrSp">Hold Time</span>
								<div class="cfgTxtDiv">
									<input type="text" class="txtIpt" value="0">
								</div>
							</div>
							<div class="cfgRestartTimeDiv parmDiv">
								<span class="cfgDsrSp">Restart Time</span>
								<div class="cfgTxtDiv">
									<input type="text" class="txtIpt" value="0">
								</div>
							</div>
							<div class="cfgCutLossSpreadDiv parmDiv">
								<span class="cfgDsrSp">Cut Loss Spread</span>
								<div class="cfgTxtDiv">
									<input type="text" class="txtIpt" value="0">
								</div>
							</div>
							<div class="cfgExitOrderSpreadDiv parmDiv">
								<span class="cfgDsrSp">Exit Order Spread</span>
								<div class="cfgTxtDiv">
									<input type="text" class="txtIpt" value="0">
								</div>
							</div>
							<div class="cfgCommisionDiv parmDiv">
								<span class="cfgDsrSp">Commision</span>
								<div class="cfgTxtDiv">
									<input type="text" class="txtIpt" value="0">
								</div>
							</div>
						</div>
					</div>
					<div class="rowStatusDiv">
						<div class="rowIconDiv">
							<i class="fa fa-tachometer"></i>
						</div>
						<div class="rowConDiv">
							<div class="rowStatusTextDiv"></div>
						</div>
					</div>
					<div class="rowSwDiv swDiv macSw">
						<label class="macSwLbl swOnLbl">
							<input type="radio" class="swIpt" value="On">On
						</label>
						<label class="macSwLbl swOffLbl swChked">
							<input type="radio" class="swIpt" value="Off" checked>Off
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>