<div id="jPanelKM">
	<div id="jNoticeKMDiv" class="jNoticeDiv">
		<div class="jNoticeIcon">
			<span class="jNoticeSym"></span>
		</div>
		<div id="jNoticeKMMsg" class="jNoticeMsg"></div>
	</div>
	<div id="cnfmBg">
	</div>
	<div id="cnfmDiv">
		<span id="cnfmSpan">
			<span id="cnfmKeyTxt"></span>
			<span id="cnfmKeyDetail">
				<span id="cnfmKeyKey"></span>
				<span id="cnfmKeyType"></span>
				<span id="cnfmKeySide"></span>
				<span id="cnfmKeySpec"></span>
			</span>
		</span>
		<div id="keyCnfmBtn" class="cnfmBtn cnfmTrue">Confirm</div>
		<div class="cnfmBtn">Cancel</div>
	</div>
	<div id="tabNavSec"></div>
	<div id="keyMapTab" class="keyTab">
		<div>
			<div id="keyKbSec">
				<ul id="keyKbUI">
					<li>`</li>
					<li id="kbKey1">1</li>
					<li id="kbKey2">2</li>
					<li id="kbKey3">3</li>
					<li id="kbKey4">4</li>
					<li id="kbKey5">5</li>
					<li id="kbKey6">6</li>
					<li id="kbKey7">7</li>
					<li id="kbKey8">8</li>
					<li id="kbKey9">9</li>
					<li id="kbKey0">0</li>
					<li>-</li>
					<li>=</li>
					<li class="delete">&#x2190; Delete</li>
					<li class="tab">&#x21c4; Tab</li>
					<li id="kbKeyQ" class="kbUablKey">Q</li>
					<li id="kbKeyW" class="kbUablKey">W</li>
					<li id="kbKeyE" class="kbUablKey">E</li>
					<li id="kbKeyR" class="kbUablKey">R</li>
					<li id="kbKeyT" class="kbUablKey">T</li>
					<li id="kbKeyY" class="kbUablKey">Y</li>
					<li id="kbKeyU" class="kbUablKey">U</li>
					<li id="kbKeyI" class="kbUablKey">I</li>
					<li id="kbKeyO" class="kbUablKey">O</li>
					<li id="kbKeyP" class="kbUablKey">P</li>
					<li>[</li>
					<li>]</li>
					<li>\</li>
					<li class="capslock">Caps Lock</li>
					<li id="kbKeyA" class="kbUablKey">A</li>
					<li id="kbKeyS" class="kbUablKey">S</li>
					<li id="kbKeyD" class="kbUablKey">D</li>
					<li id="kbKeyF" class="kbUablKey">F</li>
					<li id="kbKeyG" class="kbUablKey">G</li>
					<li id="kbKeyH" class="kbUablKey">H</li>
					<li id="kbKeyJ" class="kbUablKey">J</li>
					<li id="kbKeyK" class="kbUablKey">K</li>
					<li id="kbKeyL" class="kbUablKey">L</li>
					<li>;</li>
					<li>'</li>
					<li class="return">&#x23ce;</li>
					<li class="left-shift">&#x21E7; Shift</li>
					<li id="kbKeyZ" class="kbUablKey">Z</li>
					<li id="kbKeyX" class="kbUablKey">X</li>
					<li id="kbKeyC" class="kbUablKey">C</li>
					<li id="kbKeyV" class="kbUablKey">V</li>
					<li id="kbKeyB" class="kbUablKey">B</li>
					<li id="kbKeyN" class="kbUablKey">N</li>
					<li id="kbKeyM" class="kbUablKey">M</li>
					<li>,</li>
					<li>.</li>
					<li>/</li>
					<li class="right-shift">&#x21E7; Shift</li>
					<li class="ctrl kbFuntKey">Ctrl</li>
					<li class="kbFuntKey">&#10070;</li>
					<li class="kbFuntKey">Alt</li>
					<li id="kbKeySPACE" class="kbUablKey space">SPACE</li>
					<li class="kbFuntKey">Alt</li>
					<li class="kbFuntKey">&#10070;</li>
					<li class="kbFuntKey">&#9776;</li>
					<li class="kbFuntKey">Ctrl</li>
				</ul>
			</div>
			<div id="keyKbBtmSec">
				<div id="keyDelBttnDiv" class="keyBttnDiv">
					<a id="keyDelBtn" class="keyBtn">Delete</a>
					<a id="keyDelAllBtn" class="keyBtn keyBtnEnabled">Delete*</a>
				</div>
				<div id="kbKeyDiv"><input type="text" id="kbKeyVal" readonly></div>
				<div id="kbSaveBtnDiv" class="keyBttnDiv">
					<a id="keySaveBttn" class="keyBtn">Save</a>
				</div>
			</div>
		</div>
		<div>
			<div id="keyTypeSec">
				<input type="radio" id="keyTypeLO" class="keyTypeIpt" name="view" value="tpLOv1">
				<label for="keyTypeLO" class="keyTypeLbl keyTypeSleted">Limit Order</label>
				<input type="radio" id="keyTypeSO" class="keyTypeIpt" name="view" value="tpSOv1">
				<label for="keyTypeSO" class="keyTypeLbl">Stop Order</label>
				<input type="radio" id="keyTypeCnl" class="keyTypeIpt" name="view" value="tpCancel">
				<label for="keyTypeCnl" class="keyTypeLbl">Cancel Order</label>
				<input type="radio" id="keyTypeAlgo" class="keyTypeIpt" name="view" value="tpAlgo">
				<label for="keyTypeAlgo" class="keyTypeLbl">ALGO</label>
				<span id="keyTypeBg"></span>
			</div>
			<div class="keySideSec">
				<input type="radio" id="keySideBUY" class="keySideIpt" name="view" value="BUY">
				<label for="keySideBUY" class="keySideLbl keySideLblBUY">BUY</label>
				<input type="radio" id="keySideSELL" class="keySideIpt" name="view" value="SELL">
				<label for="keySideSELL" class="keySideLbl keySideLblSELL">SELL</label>
				<span class="keySideBg"></span>
			</div>
		</div>
		<div id="keyOrdSec">
			<div id="pxChtSec">
				<div id="pxChtZmDiv">
					<span id="pxChtZmOutBtn" class="pxChtZmBtn">&#x2796;</span>
					<span id="zmGlass">&#128269;</span>
					<span id="pxChtZmInBtn" class="pxChtZmBtn">&#x2795;</span>
				</div>
				<div id="tpLOv1" class="pxChtDiv">
					<div id="tpLOv1_BUY"></div>
					<div id="tpLOv1_SELL" style="display:none;"></div>
				</div>
				<div id="tpSOv1" class="pxChtDiv">
					<div id="tpSOv1_BUY"></div>
					<div id="tpSOv1_SELL" style="display:none;"></div>
				</div>
			</div>
			<div id="keyDtlSec">
				<div class="keyDtlTtlDiv">
					<span class="keyDtlTtlTxt">
						<span class="keyDtlTypeTxt"></span>
						<span class="keyDtlSideTxt"></span> Order
					</span>
				</div>
				<div class="keyDtlDiv">
					<span class="keyDtlTxt">Quantity:</span>
					<div id="keyDtlQttySldrDiv" class="keyDtlSldrDiv">
						<div id="keyDtlQttyHadle" class="keyDtlHadle ui-slider-handle"></div>
					</div>
					<div id="keyDtlQttyIptDiv" class="keyDtlIptDiv">
						<input type="text" class="keyDtlIpt keyDtlCtrl" id="keyDtlQttyIpt">
					</div>
				</div>
				<div class="keyDtlDiv" id="keyDtlSlipDiv">
					<span class="keyDtlTxt">Slippage:</span>
					<div id="keyDtlSlipSldrDiv" class="keyDtlSldrDiv">
						<div id="keyDtlSlipHadle" class="keyDtlHadle ui-slider-handle"></div>
					</div>
					<div id="keyDtlSlipIptDiv" class="keyDtlIptDiv">
						<input type="text" id="keyDtlSlipIpt" class="keyDtlIpt keyDtlCtrl">
					</div>
				</div>
				<div class="keyDtlDiv">
					<span class="keyDtlTxt">ECN:</span>
					<label class="keyDtlLnkLbl">
						<input type="checkbox" id="keyDtlLnkECNIpt" class="keyDtlLnkCtrl">
						<span class="keyDtlLnkTtp" title="As Above Panel">&#128279;</span>
					</label>
					<select id="keyDtlECNIpt" class="keyDtlCtrl">
						<option value="" selected></option>
						<option value="PATS">PATS</option>
						<option value="MREX">MREX</option>
						<option value="HKE">HKE</option>
						<option value="SAXO">SAXO</option>
						<option value="ATOM">ATOM</option>
					</select>
				</div>
				<div class="keyDtlDiv">
					<span class="keyDtlTxt">Symbol:</span>
					<label class="keyDtlLnkLbl">
						<input type="checkbox" id="keyDtlLnkSymIpt" class="keyDtlLnkCtrl">
						<span class="keyDtlLnkTtp" title="As Above Panel">&#128279;</span>
					</label>
					<input type="text" id="keyDtlSymIpt" class="keyDtlCtrl">
				</div>
				<div class="keyDtlDiv">
					<span class="keyDtlTxt">Duration:</span>
					<select id="keyDtlDurIpt" class="keyDtlCtrl">
						<option value="DAY">DAY</option>
						<option value="IOC">IOC</option>
						<option value="FOK">FOK</option>
					</select>
				</div>
				<div class="keyDtlDiv">
					<span class="keyDtlTxt">Ref. By:</span>
					<select id="keyDtlRefIpt" class="keyDtlCtrl">
						<option value="BID">BID</option>
						<option value="ASK">ASK</option>
					</select>
				</div>
				<div class="keyDtlDiv">
					<span class="keyDtlTxt">Group</span>
					<select id="keyDtlGpIpt" class="keyDtlCtrl">
						<option value="1">A</option>
						<option value="2">B</option>
						<option value="3">C</option>
					</select>
				</div>
			</div>
			<div id="keyIfdSec">
				<div id="keyIfdLOSec" class="keyIfdTypeSec">
					<div class="keyDtlTtlDiv">
						<span class="keyDtlTtlTxt">
							<label id="keyIfdLOLbl" class="keyIfdLbl">
								<input type="checkbox" id="keyIfdLOIpt" class="keyIfdIpt" value="LO2">
								<span class="keyIfdTxt">
									If-Done Limit <span class="keyIfdSideTxt"></span> Order
								</span>
							</label>
						</span>
					</div>
					<div class="keyDtlDiv">
						<span class="keyDtlTxt">Quantity:</span>
						<div id="keyIfdLOQttySldrDiv" class="keyDtlSldrDiv">
							<div id="keyIfdLOQttyHadle" class="keyDtlHadle ui-slider-handle"></div>
						</div>
						<div id="keyIfdLOQttyIptDiv" class="keyDtlIptDiv">
							<input type="text" class="keyDtlIpt keyDtlCtrl" id="keyIfdLOQttyIpt">
						</div>
					</div>
					<div class="keyDtlDiv">
						<span class="keyDtlTxt">Duration:</span>
						<select id="keyIfdLODurIpt" class="keyDtlCtrl">
							<option value="DAY">DAY</option>
							<option value="IOC">IOC</option>
							<option value="FOK">FOK</option>
						</select>
					</div>
					<div class="keyDtlDiv">
						<span class="keyDtlTxt">Ref. By:</span>
						<select id="keyIfdLORefIpt" class="keyDtlCtrl">
							<option value="BID">BID</option>
							<option value="ASK">ASK</option>
						</select>
					</div>
				</div>
				<div id="keyIfdSOSec" class="keyIfdTypeSec">
					<div class="keyDtlTtlDiv">
						<span class="keyDtlTtlTxt">
							<label id="keyIfdSOLbl" class="keyIfdLbl">
								<input type="checkbox" id="keyIfdSOIpt" class="keyIfdIpt" value="SO2">
								<span class="keyIfdTxt">
									If-Done Stop <span class="keyIfdSideTxt"></span> Order
								</span>
							</label>
						</span>
					</div>
					<div class="keyDtlDiv">
						<span class="keyDtlTxt">Quantity:</span>
						<div id="keyIfdSOQttySldrDiv" class="keyDtlSldrDiv">
							<div id="keyIfdSOQttyHadle" class="keyDtlHadle ui-slider-handle"></div>
						</div>
						<div id="keyIfdSOQttyIptDiv" class="keyDtlIptDiv">
							<input type="text" class="keyDtlIpt keyDtlCtrl" id="keyIfdSOQttyIpt">
						</div>
					</div>
					<div class="keyDtlDiv">
						<span class="keyDtlTxt">Slippage:</span>
						<div id="keyIfdSOSlipSldrDiv" class="keyDtlSldrDiv">
							<div id="keyIfdSOSlipHadle" class="keyDtlHadle ui-slider-handle"></div>
						</div>
						<div id="keyIfdSOSlipIptDiv" class="keyDtlIptDiv">
							<input type="text" class="keyDtlIpt keyDtlCtrl" id="keyIfdSOSlipIpt">
						</div>
					</div>
					<div class="keyDtlDiv">
						<span class="keyDtlTxt">Duration:</span>
						<select id="keyIfdSODurIpt" class="keyDtlCtrl">
							<option value="DAY">DAY</option>
							<option value="IOC">IOC</option>
							<option value="FOK">FOK</option>
						</select>
					</div>
					<div class="keyDtlDiv">
						<span class="keyDtlTxt">Ref. By:</span>
						<select id="keyIfdSORefIpt" class="keyDtlCtrl">
							<option value="BID">BID</option>
							<option value="ASK">ASK</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div id="keyCnlOrdSec">
			<div id="cnlOrdSec">
				<div class="cnlOrdKeyUp">
					<div id="cnlAllDiv" class="cnlOrdDiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdIpt" id="cnlAllIpt" value="ALL">
							<div class="cnlOrdBtn">All</div>
						</label>
					</div>
					<div class="cnlOrdDiv cnlOrdLeft" id="cnlSELLDiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdIpt" id="cnlSELLIpt" value="ALLSELL">
							<div class="cnlOrdBtn">All Sell</div>
						</label>
					</div>
					<div class="cnlOrdDiv cnlOrdRight" id="cnlBUYDiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdIpt"  id="cnlBUYIpt" value="ALLBUY">
							<div class="cnlOrdBtn">All Buy</div>
						</label>
					</div>
					<div class="cnlOrdDiv cnlOrdLeft" id="cnlLODiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdIpt" id="cnlLOIpt" value="ALLLO2">
							<div class="cnlOrdBtn">All Limit</div>
						</label>
					</div>
					<div class="cnlOrdDiv cnlOrdRight" id="cnlSODiv">
						<label class="cnlOrdLbl"  >
							<input type="checkbox" class="cnlOrdIpt" id="cnlSOIpt" value="ALLSO2">
							<div class="cnlOrdBtn">All Stop</div>
						</label>
					</div>
				</div>
				<div class="cnlOrdKeyDown">
					<div class="cnlOrdDiv cnlOrdLeft" id="cnlLOBUYDiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdIpt cnlOrdOrdType" id="cnlLOBUYIpt" value="ALLBUYLO2">
							<div class="cnlOrdBtn">Limit Buy</div>
						</label>
					</div>
					<div class="cnlOrdDiv cnlOrdRight" id="cnlSOBUYDiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdIpt cnlOrdOrdType" id="cnlSOBUYIpt" value="ALLBUYSO2">
							<div class="cnlOrdBtn">Stop Buy</div>
						</label>
					</div>
					<div class="cnlOrdDiv cnlOrdLeft" id="cnlLOSELLDiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdIpt cnlOrdOrdType" id="cnlLOSELLIpt" value="ALLSELLLO2">
							<div class="cnlOrdBtn">Limit Sell</div>
						</label>
					</div>
					<div class="cnlOrdDiv cnlOrdRight" id="cnlSOSELLDiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdIpt cnlOrdOrdType" id="cnlSOSELLIpt" value="ALLSELLSO2">
							<div class="cnlOrdBtn">Stop Sell</div>
						</label>
					</div>
				</div>
				<div class="cnlOrdKeyGroup">
					<div class="cnlOrdDiv" id="cnlGpAllDiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdGpKey" id="cnlGpAllIpt" value="0">
							<div class="cnlOrdBtn">All</div>
						</label>
					</div>
					<div class="cnlOrdDiv" id="cnlGpADiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdGpKey cnlOrdGp" id="cnlGpAIpt" value="1">
							<div class="cnlOrdBtn">Group A</div>
						</label>
					</div>
					<div class="cnlOrdDiv" id="cnlGpBDiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdGpKey cnlOrdGp" id="cnlGpBIpt" value="2">
							<div class="cnlOrdBtn">Group B</div>
						</label>
					</div>
					<div class="cnlOrdDiv" id="cnlGpCDiv">
						<label class="cnlOrdLbl">
							<input type="checkbox" class="cnlOrdGpKey cnlOrdGp" id="cnlGpCIpt" value="3">
							<div class="cnlOrdBtn">Group C</div>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div id="keyAlgoOrdSec">
			<div class="algoOrdGpDiv">
				<div class="algoOrdDiv algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="on">
						<div class="algoOrdBtn">On</div>
					</label>
				</div>
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="off">
						<div class="algoOrdBtn">Off</div>
					</label>
				</div>
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="flat">
						<div class="algoOrdBtn">Flat</div>
					</label>
				</div>
			</div>
			<div class="algoOrdGpDiv">
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="bidSw">
						<div class="algoOrdBtn">Bid Switch</div>
					</label>
				</div>
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="askSw">
						<div class="algoOrdBtn">Ask Switch</div>
					</label>
				</div>
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="bidAuto">
						<div class="algoOrdBtn">Bid Auto</div>
					</label>
				</div>
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="askAuto">
						<div class="algoOrdBtn">Ask Auto</div>
					</label>
				</div>
			</div>
			<div class="algoOrdGpDiv">
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="minusSpread">
						<div class="algoOrdBtn">- Spread</div>
					</label>
				</div>
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="addSpread">
						<div class="algoOrdBtn">+ Spread</div>
					</label>
				</div>
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="minusShift">
						<div class="algoOrdBtn">- Shift</div>
					</label>
				</div>
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="addShift">
						<div class="algoOrdBtn">+ Shift</div>
					</label>
				</div>
			</div>
			<div class="algoOrdGpDiv">
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="minusBidSpread">
						<div class="algoOrdBtn">- Bid Spread</div>
					</label>
				</div>
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="addBidSpread">
						<div class="algoOrdBtn">+ Bid Spread</div>
					</label>
				</div>
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="minusAskSpread">
						<div class="algoOrdBtn">- Ask Spread</div>
					</label>
				</div>
				<div class="algoOrdDiv">
					<label class="algoOrdLbl">
						<input class="algoOrdIpt" type="checkbox" value="addAskSpread">
						<div class="algoOrdBtn">+ Ask Spread</div>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>