#jPanelGetLeader{
	position: absolute;
	z-index: 10;
	background: white;
	border: solid;
	border-width: 0.5px;
	border-color: #d0d0d0;
	padding: 20px;
	text-align: center;
	right:100px;
	width:200px;
}
#jPanelGetLeader .btnDiv{
	transition: .4s;
	opacity: 0.5;
	cursor: pointer;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}
#jPanelGetLeader .btnDiv:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
	opacity: 1;
}
#jPanelGetLeader .infoDiv{
	opacity: 0.5;
}
#jPanelGetLeader #userInfoIcon{
	display:none;
}