.jPanelTab{
	overflow: hidden;
}
.jPanelDiv{
	height: inherit;
	position: relative;
	cursor:default;
	overflow: auto;
}

/* for jNotice css */
.jNoticeDiv{
	width: 200px;
	height: 40px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 5px;
	margin: 5px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px black;
	user-select: none;
	display:none;
	z-index: 999;
}
.jNoticeIcon{
	border-radius: 15px;
	padding: 1px 10px;
	color: rgba(0, 0, 0, 0.6);
	background: #fafafa;
	text-align: center;
	margin: 5px;
	position: relative;
	float: left;
	top: 4px;
	left: 3px;
	line-height: 21px;
}
.jNoticeSym{
	font-weight: bolder;
	font-size: 12px;
}
.jNoticeSym:before {
	content: 'i';
}
.jNoticeMsg{
	position: relative;
	left: 6px;
	font-size: 13px;
	font-weight: bolder;
	color: white;
	line-height: 42px;
}
.jNoticeMsg span{
	font-size: 18px;
}
.jNoticeKeyBUY{
	color: #5eff5e;
}
.jNoticeKeySELL{
	color: #ff4040;
}
.jNoticeKeyCnl{
	color: #5ca1ff;
}
#jPanelNtcDiv{
	width: 126px;
}

/* for jBadge */
.tabs .jpanelDD{
	position: relative;
}
.badgeSp {
	background: #e9e9e9;
	padding: 1px 7px;
	position: absolute;
	right: 1px;
	top: 4px;
	font-size: 70%;
	z-index: 2;
	border-radius: 50%
	;
	display:none;
}
.badgeOnSp{
	background: #4caf50;
	color: white;
}

/* for night-mode */
.night-mode .jNoticeMsg{
	color: inherit;
}
.night-mode .jNoticeIcon{
	background: #f7bb01;
}
.night-mode .badgeSp{
	background: #6d6d6d
}