.jPanelMsg{
	height: inherit;
	padding: 5px;
	overflow-y: scroll;
	position: relative;
}
.jMsgDiv{
	width: 1250px;
	background: #e1e1e1;
	padding: 15px;
	margin: 13px;
	border-radius: 14px 14px 14px 0px;
	position: relative;
	display:none;
}
.jMsgTime{
	float: right;
	font-size: 14px;
	color: #8b8b8b;
	top: 10px;
	position: relative;
}

.night-mode .jMsgDiv{
	background: #3c3c3c;
}