#jPanelCS{
	height: inherit;
	user-select: none;
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;
	overflow:auto;
}
.btnDiv{
	transition: .4s;
	opacity: 0.5;
	cursor: pointer;
	text-align: center;
}
.btnDiv:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
	opacity: 1;
}
.dsrTxt{
	width: 75px;
	top: 17px;
	position: relative;
	opacity: 0.6;
}
.iptDiv{
	width: 60px;
	margin-top: 12px;
}
.txtIpt{
	text-align: center;
	background: #e1e1e1;
}
.disableCtrl{
	opacity: 0.2;
}
.cfgSec{
	z-index: 11;
	background: white;
	position: absolute;
	padding: 15px;
	border: solid;
	border-color: #e1e1e1;
	border-width: 1px;
	display:none;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}
.cfgSec .ui-resizable-s{
	height: 10px;
}
.cfgPanlSec{
	width: 450px;
	left: 70px;
	top: 61px;
}
.cfgSec .dsrSp{
	opacity: 0.8;
	float: right;
	margin-left: 29px;
	right: 18px;
	position: relative;
	top: -5px;
}
.cfgTypeIconDiv{
	font-size: 200%;
	height: 20px;
}
.cfgDiv{
	display: inline-block;
	height: 40px;
	margin-left: 30px;
	width: 90%;
}
.cfgDiv .dsrTxt{
	/* width: 175px; */
}
.cfgIconDiv{
	font-size: 130%;
	width: 40px;
	text-align: center;
	float: left;
}
.cfgDsrSp{
	width: 205px;
	top: 3px;
	position: relative;
	float: left;
}
.cfgTxtDiv{
	width: 50px;
	float: left;
	margin-left: 10px;
}
.cfgChkDiv{
	transform: scale(2.4);
	top: 9px;
	position: relative;
	float: right;
	margin-right: 20px;
}
.cfgCutChkDiv{
	transform: scale(2.4);
	top: 9px;
	position: relative;
	float: right;
	margin-left: 10px;
}
.cfgOnChkDiv{
	transform: scale(2.4);
	top: 9px;
	position: relative;
	float: right;
	margin-right: 90px;
}
.cfgSeltDiv{
	position: absolute;
	right: 150px;
}
.cfgBtnDiv{
	width: 92px;
	height: 45px;
	line-height: 45px;
	background: #eaeaea;
	margin-top: 8px;
	margin-left: auto;
	margin-right: 20px;
}
.cfgPanlCfmDiv{
}
.cfgReldDiv{
	bottom: 15px;
	right: 17px;
	display:none;
}
.cfgWarnIpt{
	box-shadow: 0 0 10px 2px red;
}
.cfgRowCfmDiv{
}
.cfgGuarSec{
	width: 520px;
	left: 70px;
	top: 61px;
}
.cfgGuarCfmDiv{
}
.panlSec{
	display:flex;
	flex-flow: column wrap;
	width: 1420px;
	background: #fafafa;
	padding: 5px;
}
.titleSec{
	display: flex;
	height: 50px;
	padding-top: 7px;
}
.titleSec span,.titleSec label{
	line-height: 40px;
}
.titleDiv{
	color: white;
	height: 40px;
	position:absolute;
	margin: auto;
	padding: 0 10px 0 10px;
	display:none;
	top: 12px;
}
.panlReldNtcSec{
	background: #ee2b2b;
	left: 95px;
	z-index: 21;
}
.panlReldNtcDiv{
	display: flex;
}
.panlReldSn{
	font-size: 120%;
}
.panlReldWarnSn{
	display:none;
	text-align: center;
	width: 100%;
}
.panlReldLdDiv{
	border: 7px solid white;
	border-top: 7px solid #ee2b2b;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: panlReldSpin 2s linear infinite;
	margin: 5px;
	z-index: 5;
}
@keyframes panlReldSpin{
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}
.panlPauseNtcSec{
	background: #6d6d6d;
	left: 471px;
	z-index: 21;
	font-size: 140%;
}
.panlPauseNtcDiv{
	display: flex;
}
.panlPauseSn{
	font-size: 120%;
}
.panlPauseLdDiv{
	border: 7px solid white;
	border-top: 7px solid #4caf50;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: panlPauseSpin 5s linear infinite;
	margin-top: 5px;
	margin-right: 5px;
	z-index: 5;
}
@keyframes panlPauseSpin{
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}
.panlStopNtcSec{
	background: #ee2b2b;
	left: 838px;
}
.panlStopNtcDiv{
	display: flex;
}
.panlStopNtcSn{
	font-size: 120%;
}
.panlStopLdDiv{
	border: 4px solid white;
	border-top: 7px solid #ee2b2b;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: panlStopSpin 2s linear infinite;
	margin: 5px;
	z-index: 5;
	position: relative;
	left: -4px;
}
@keyframes panlStopSpin{
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}
.panlSwDiv{
	width: 240px;
	height: 40px;
	display: -webkit-box;
	text-align: center;
	position: absolute;
	left: 591px;
	background: #e2e2e2;
}
.panlSwDiv .swOffLbl{
	z-index: 90;
}
.swFlatLbl{
	border-left: solid;
	border-color: #fafafa;
}
.panlSwLbl{
	position: relative;
	z-index: 2;
	font-size: 140%;
	opacity: 0.8;
	text-align: center;
	cursor: pointer;
	transition: .4s;
	width: 33.33%;
	height: inherit;
}
.panlSwLbl:hover{
	opacity: 1;
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.panlSwBg{
	position: relative;
	z-index: 1;
	display: block;
	height: inherit;
	background: #6d6d6d;
	transition: 0.15s;
	width: 66.66%;
	left: -160px;
}
.panlSwChked{
	opacity: 1;
	color:white!important;
}
.panlSwChked.swOnLbl{
	background: #4caf50;
}
.panlBtnDiv{
	height: 40px;
	width: 40px;
	font-size: 200%;
	position: absolute;
	top: 11px;
	line-height: 42px!important;
}
.panlAddDiv{
	left: 1354px;
}
.panlDelAllDiv{
	left: 1354px;
}
.panlCfgDiv{
	left: 21px;
}
.panlSortDiv{
	left: 163px;
}
.panlModeDiv{
	left: 1286px;
}
.panlGuarDiv{
	left: 93px;
}
.panlSaveDiv{
	left: 167px;
}
.panlSortDescBtn{
	display: none;
}
.panlStopDiv{
	position: relative;
	background: red!important;
	color: white;
	display:none;
}
.panlDelAllDiv{
	display:none;
}
.defMacRow{
	display:none;
}
.macRow{
	height:110px;
	margin: 5px;
	background:white;
	display:none;
}
.cfgRowSec{
	width: 390px;
	margin-top: 1px;
	left: 70px;
}
.cfgRowSec .cfgSeltDiv{
	right: 85px;
}
.cfgChk{
	cursor:pointer;
}
.cfgCutChk{
	cursor:pointer;
}
.cfgOnChk{
	cursor:pointer;
}
.rowBtnDiv{
	position: absolute;
	margin: 12px;
	font-size: 140%;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.rowDelDiv{
	left:1342px;
}
.rowCfgDiv{
	margin-top: 62px;
}
.rowSprdDiv{
	/* display: none; */
}
.rowSortDiv{
	cursor: -webkit-grabbing!important;
	margin-top: 62px;
	left: 1342px;
}
.rowSortDiv:hover{
	box-shadow:none;
}
.rowInfSec{
	height: 100px;
	width: 185px;
	float:left;
	text-align: center;
	padding-top: 18px;
	margin-left: 15px;
}
.rowInfDiv{
	height: 37px;
}
.sideSec{
	width: 600px;
}
.bidSec, .bidSec .sbBtnDiv{
	float:left;
}
.bidSec .swDiv, .bidSec .macSec, .bidSec .trigLgtDiv{
	float:right;
}
.askSec, .askSec .sbBtnDiv{
	float:right;
}
.askSec .swDiv, .askSec .macSec,.askSec .trigLgtDiv{
	float:left;
}
.bidSec .trigLgtDiv{
	left: 17px;
	margin-left: -9px;
}
.askSec .trigLgtDiv{
	right: 17px;
	margin-right: -9px;
}
.trigLgtDiv{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	top: 22px;
	position: relative;
	background: gray;
}
.trigLgtOnDiv{
	background: lime;
}
.macInfDiv{
	width: 120px;
}
.infSprdDiv .txtIpt{
	font-size: 150%;
	font-weight: bold;
}
.bidSec .macInfDiv,.bidSec .infDiv{
	float:right;
}
.askSec .macInfDiv,.askSec .infDiv{
	float:left;
}
.macInfDiv .iptDiv{
	width: 55px;
}
.dsrInfoTxt{
	top: 5px!important;
}
.bidSec .dsrInfoTxt{
	left: 5px;
}
.askSec .dsrInfoTxt{
	left: 48px;
}
.infDiv{
	display: flex;
	height: 35px;
	width: 120px;
	top: -5px;
	position: relative;
}
.infDiv .txtIpt{
	background:inherit!important;
}
.swDiv{
	width: 60px;
	text-align: center;
	margin: 0px 15px 0 15px;
	position: relative;
	top: -6px;
}
.swDiv .swOffLbl{
	margin-top: 6px;
}
.macSwLbl{
	position: relative;
	z-index: 2;
	line-height: 40px;
	font-size: 125%;
	opacity: 0.3;
	text-align: center;
	cursor: pointer;
	transition: .4s;
	top: 20px;
}
.macSwLbl:hover{
	opacity: 1;
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.swOnNotice{
	box-shadow: 0 0 20px 10px red;
}
.swIpt{
	display: none;
}
.swChked{
	opacity: 1;
}
.swChked.swOffLbl{
	background: #e1e1e1;
}
.swChked.swOnLbl{
	background: #6d6d6d;
	color: white;
}
.swChked.swOnLbl.swMacOn{
	background: #4caf50;
}
.ifdSwDiv{
	width: 160px;
	text-align: center;
	margin-top: 14px;
}
.bidSec .ifdSwDiv{
	float:right;
	margin-right:5px;
}
.askSec .ifdSwDiv{
	float:left;
	margin-left:5px;
}
.ifdSwLbl{
	position: relative;
	z-index: 2;
	line-height: 25px;
	opacity: 0.3;
	text-align: center;
	cursor: pointer;
	top: -12px;
}
.ifdSwLbl:hover{
	opacity: 1;
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.ifdSwIpt{
	display: none;
}
.ifdSwChked{
	opacity: 1;
}
.ifdSwBg{
	top: -122px;
	position: relative;
	z-index: 1;
	display: block;
	height: 25px;
	background: #e9e9e9;
}

.macCvr{
	display:none;
	width: inherit;
	position: absolute;
	z-index: 9;
	height: 110px;
}
.macSec{
	width: 315px;
	height: 100px;
	overflow: visible!important;
}
.ctrlSec{
	width: 140px;
	height: 100px;
	float: inherit;
}
.sbDtlSec{
	display: none;
	top: -20px;
	position: relative;
	float: left;
}
.ctrlDiv{
	height: 50px;
	margin: 2px;
	display: flex;
}
.bidSec .ctrlDiv{
	float: left;
	margin-left: 10px;
}
.askSec .ctrlDiv{
	float: right;
	margin-right: 10px;
}
.ctrlDiv .dsrTxt{
	width: 35px!important;
}
.ctrlDiv .ctrlVal{
	display: none;
}
.bidSec .dsrTxt{
	text-align: left;
}
.askSec .dsrTxt{
	text-align: right;
}
.sldrBg{
	background:#a1a1a1;
	height: 108px;
	width: 22px;
	position: relative;
	display: none;
	z-index: 10;
	border: solid;
	border-width: 1px;
	border-color: #7a7a7a;
}
.bidSec .sldrBg{
	left: 14px;
}
.askSec .sldrBg{
	right: 14px;
}
.sldrBg .ui-slider-range{
	font-size: 0%;
}
.pxSldrBg{
	top: 0px;
}
.qtySldrBg{
	top: -54px;
}
.sldrHd{
	width: 40px!important;
	height: 28px!important;
	text-align: center;
	line-height: 29px;
	font-size: 140%;
	background: #e1e1e1!important;;
	z-index: 2;
	left: -10px!important;
	cursor: s-resize!important;
	border: solid!important;
	border-width: 1px!important;
	border-color: #6a6a6a!important;
	color:inherit!important;
}
.sldrHd:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.sldrHd:active{
	color:inherit!important;
	font-weight:normal!important;
	background: #cdcbcb;
	border-color: #6a6a6a;
}
#jPanelCS .selector{
	display:none;
}

.cfgSymSprdDiv{
	height: 190px;
	background: white;
	display:none;
	width: 510px;
	margin-top: 1px;
	left: 70px;
}
.sprdShowDiv{
	display: flex;
}
.symSprdDiv{
	display: flex;
	float: left;
	position: relative;
	top: 37px;
	padding: 0px 16px;
}
.symSprdDiv .dsrTxt{
	text-align: center;
}
.sprdBtn{
	width: 40px;
	height: 40px;
	line-height: 44px;
	font-size: 140%;
	position: absolute;
}
.addSprdBtn{
	left: 359px;
	top: 71px;
}
.minusSprdBtn{
	left: 158px;
	top: 71px;
}
.bidShfitBtn{
	top: 71px;
	left: 70px;
}
.askShfitBtn{
	left: 430px;
	top: 71px;
}
.resetSprdBtn{
	left: 263px;
	top: 71px;
}
.sprdSlidrDiv{
	width: 400px;
	height: 35px;
	background: #e6e6e6;
	left: 25px;
	position: relative;
	float: left;
}
.vertiLine{
	width: 3px;
	background: #929292;
	height: inherit;
	position: relative;
	float: left;
	top: -15px;
}
.bidLine{
	left: 106px;
}
.askLine{
	left: 304px;
}
.sprdSlidr{
	position: relative;
	top: 9px;
	background: #b9b9b9;
	height: 15px;
}
.sprdSlidr .ui-slider-range{
	height: 20px;
	border: solid;
	border-width: 1px;
	border-color: #7a7a7a;
	top: -2px;
}
.sprdSlidr .ui-slider-range:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.sprdSlidr .ui-slider-range:active{

}
.sprdSlidr .ui-slider-handle{
	width: 40px!important;
	height: 28px!important;
	text-align: center;
	line-height: 29px;
	font-size: 140%;
	background: #e1e1e1!important;
	z-index: 2;
	cursor: s-resize!important;
	border: solid!important;
	border-width: 1px!important;
	border-color: #6a6a6a!important;
	color: inherit!important;
	top: -6px;
}
.sprdSlidr .ui-slider-handle:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.sprdSlidr .ui-slider-handle:active{

}
.cfgSymSprdCfmDiv{
	float: right;
	margin-top: 43px;
}

.cfgModeSec{
	width: 470px;
	left: 867px;
	top: 62px;
}
.cfgModeListDiv{
	min-height: 100px;
	height: auto;
	display: block;
}
.cfgModeListUl{
	min-height: 100px;
	width: 100%;
	float: left;
	padding-bottom: 20px;
	list-style-type: none;
}
.cfgModeDeleteDiv{
}
.cfgModeLi{
	width: 82px;
	height: 55px;
	cursor: pointer;
	text-align: center;
	background: #efefef;
	margin-right: 12px;
	margin-top: 8px;
	float: left;
	line-height: 60px;
}
.cfgModeLi:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.cfgTypeDiv{
}
.cfgModeBtnDiv{
	display: block;
	float: left;
	position: relative;
	left: 19px;
}
.cfgModeBtnDiv .cfgBtnDiv{
	width: 82px;
	float: left;
	margin-right: 12px;
}
.currentMode{
	background: #4caf50!important;
	color: white;
}
.panlCurrentModeDiv{
	width: 90px;
	height: 40px;
	text-align: center;
	background: #4caf50;
	color: white;
	left: 1180px;
	position: absolute;
	font-size: 120%;
	display:none;
}
.panlMaxProfitDiv{
	width: 90px;
	height: 40px;
	text-align: center;
	background: #4caf50;
	color: white;
	left: 1072px;
	position: absolute;
	font-size: 120%;
	display:none;
	cursor: pointer;
	box-shadow: 0 0 0px 3px #c62828;
}
.cfgModeSecCvr{
	width: 100%;
	height: 100%;
	min-height: 240px;
	z-index: 12;
	position: absolute;
	display:none;
	background: black;
	opacity: 0.5;
	left: 0px;
	top: 0px;
}
.cfgModeCfmSec{
	position: absolute;
	left: 6%;
	top: 20px;
	width: 90%;
	height: 200px;
	background: white;
	padding: 10px;
	z-index: 13;
	display: none;
}
.cfgModeCfmSec .iptDiv{
	width: 100%;
}
.cfgModeCfmSec .cfgModeBtnDiv{
	left: 28%;
}
.cfgModeDeleteAllDiv{
	display:none;
}
.cfgModeDiv{
	margin: 20px 0;
	position: relative;
	float: left;
	font-size: 110%;
	width: 100%;
	text-align: center;
	display: none;
}
.cfgModeTxtSn{
	text-align:center;
}
.cfgModeIptWarn{
	font-size: 80%;
	opacity: 0.7;
}
.cfgModeTxtDiv{
	margin: 40px 0;
	display: none;
}
.cfgSymSprdDiv .cfgDiv{
	display:block;
}
.cfgModeX{
	background: #bdd2bc;
}
.cfgModeY{
	background: #bcbcd2;
}
.cfgModeZ{
	background: #d2bcbc;
}
.cfgModeW{
	background: #ced2bc;
}
.cfgModeS{
	background: #bcd2cb;
}
.cfmCvr{
	width: 100%;
	height: 100%;
	position: absolute;
	background: black;
	z-index: 20;
	opacity: 0.3;
	display: none;
}
.cfmSec{
	text-align: center;
	z-index: 21;
}
.cfmDsr{

}
.cfmBtn{
	display: flex;
	width: 240px;
	position: relative;
	left: 60px;
	top: 10px;
}
.cfmBtnDiv{
	width: 90px;
	height: 45px;
	line-height: 45px;
	margin: 0 10px;
	background: #eaeaea;
}
.cfmOnAlgoDiv{
	left: 520px;
	top: 60px;
	height: 150px;
	width: 370px;
	padding: 20px;
	text-align: center;
}
.cfmOnCnlBtn{
	box-shadow: 0px 0px 0px 0.4px black inset;
	opacity: 1;
}
.panlReldCvr{
	display: none;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.3;
	z-index: 20;
	position: absolute;
}
.cfgErrorSec{
	width: 470px;
	left: 867px;
	top: 62px;
}
.cfgErrorDiv{
	text-align: center;
}
.cfgMsgSp{
	margin-left: 10px;
	font-weight: bold;
	font-size: 110%;
}
.fontColorNotice{
	color:red;
}
.bgColorNotice{
	background: red;
	color: white;
}
.cfgSeltDiv .selector{
	display: block!important;
}
.infoDiv{
	opacity: 0.25;
	margin-left: 70px;
	position: absolute;
	margin-top: 21px;
}
#userInfoDiv{

}
#userInfoIcon{
	display:none;
}
.rowInfoDiv{
}
.cfgGuardWarn{
	color: red;
	font-weight: bold;
}
/* temp */
.cfgRowOrdTypeDiv{
	display:none;
}
.cfgOrdTypeDiv{
	display:none;
}
/* .cfgRowOrdMethodDiv .cfgTxtDiv{ */
	/* display:none; */
/* } */
/* .cfgSlowFedDiv{ */
	/* display: none; */
/* } */
/* temp */

.night-mode .panlSec{
	background: inherit;
}
.night-mode .macRow{
	background: #303030;
}
.night-mode .txtIpt{
	background: #7a7a7a;
}
.night-mode .ifdSwBg{
	background: #7a7a7a;
}
.night-mode .swChked.swOffLbl{
	background: #7a7a7a;
}
.night-mode .panlSwDiv{
	background: #7a7a7a;
}
.night-mode .panlSwDiv{
	background: #7a7a7a;
}
.night-mode .cfgSec{
	background: #212121;
}
.night-mode .cfgModeX{
	background: #31552f;
}
.night-mode .cfgModeY{
	background: #2f3055;
}
.night-mode .cfgModeZ{
	background: #482f55;
}
.night-mode .cfgModeW{
	background: #52552f;
}
.night-mode .cfgModeS{
	background: #2f4855;
}
.night-mode .cfgBtnDiv{
	background: #303030;
}
.night-mode .swFlatLbl{
	border-color: #212121;
}

/* hide unuse ele */
.panlCurrentModeDiv{
	display: none;
}
.panlModeDiv{
	display: none;
}
.panlSortDiv{
	display: none;
}
.panlAddDiv{
	display: none;
}
.panlPauseNtcSec{
	display: none;
}
.panlSaveDiv {
	left: 159px;
}
.cfgOrdMethodDiv{
	display: none;
}
.cfgOrdTypeDiv{
	display: none;
}
.cfgAutoChgModeDiv{
	display: none;
}
.cfgAutoOnDiv{
	display: none;
}
.cfgOpenOrdDiv{
	display: none;
}
.cfgSlowFedDiv{
	display: none;
}
.cfgTwiceFillDiv{
	display: none;
}
.cfgFilledQtyDiv{
	display: none;
}
.cfgNetPosDiv{
	display: none;
}
.cfgVolumeDiv{
	display: none;
}
.cfgResumeVolumeDiv{
	display: none;
}
.cfgNoTradeDiv{
	display: none;
}
.cfgAlgoOffFlatDiv{
	display: none;
}
.cfgAutoFlatQtyDiv{
	display: none;
}
.cfgAutoFlatMaxQtyDiv{
	display: none;
}
.cfgFuseStopQtyDiv{
	display: none;
}
.cfgUpdFeqDiv {
	display: none;
}
.cfgRepOrdDlyDiv {
	display: none;
}
.defCSMacRow{
	display: none;
}
.rowDelDiv{
	display: none;
}
.rowSprdDiv{
	display: none;
}
.rowCfgDiv{
	display: none;
}
.rowSortDiv{
	display: none;
}
.sideSec{
	display: none;
}
.rowSpecSec{
	height: 100px;
	width: 1180px;
	float: left;
	text-align: center;
	padding-top: 18px;
	margin-left: 15px;
	display: flex;
}
.rowIconDiv{
	text-align: left;
}
.parmDiv{
	width: 185px;
	margin-right: 30px;
	height: 35px;
	float: left;
}
.cfgDsrSp{
	width: 125px;
}
.rowParmDiv{
	width: 1075px;
}
.rowStatusDiv{
	width: 400px;
}
.rowStatusTextDiv{
	width: 320px;
	background: #fafafa;
	height: 65px;
	overflow: hidden;
}
.macSwLbl{
	top: 9px;
}
.rowSwDiv {
	display:none;
}
.panlAllowTradeDiv{
	width: 210px;
	height: 40px;
	text-align: center;
	color: white;
	left: 1196px;
	position: absolute;
	font-size: 120%;
	cursor: pointer;
	box-shadow: 0 0 0 2px black;
}
.panlAllowTradeDiv.allowed{
	background: #4caf50;
}
.panlAllowTradeDiv.banned{
	background: #af4c4c;
}