<div class="jPanelTable fiveSecVolTableDiv confSec">
	<div class="closeSecBtn secBtnDiv btnDiv">
		<i class="fa fa-times"></i>
	</div>
	<table class="volMsgTable">
		<tbody>
			<tr >
				<td colspan="7">Volume Table</td>
			</tr>
			<tr class="tableTitleTr">
				<td>Time</td>
				<td>Price</td>
				<td>Pips Chg</td>
				<td>Volume</td>
				<td>Fill On Bid</td>
				<td>Fill On Ask</td>
				<td>Ratio</td>
			</tr>
			<tr v-for="obj in volMsgAry" v-if="obj.topic==='sec5Vol'">
				<td class="tableTd">{{ obj.time }}</td>
				<td class="tableTd" v-bind:class="getPxDirectionClass( obj )">{{ obj.midPx }}</td>
				<td class="tableTd" v-bind:class="getPipChgClass( obj )">{{ obj.pipChg }}</td>
				<td class="tableTd" v-bind:class="getVolClass( obj )">{{ obj.vol }}</td>
				<td class="tableTd" v-bind:class="getFillDirectionClass( obj )">{{ obj.bidVol }}</td>
				<td class="tableTd" v-bind:class="getFillDirectionClass( obj )">{{ obj.askVol }}</td>
				<td class="tableTd" v-bind:class="getFillRatioClass( obj )">{{ obj.ratio }}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="jPanelTable tickVolTableDiv confSec">
	<div class="closeSecBtn secBtnDiv btnDiv">
		<i class="fa fa-times"></i>
	</div>
	<table class="volMsgTable">
		<tbody>
			<tr >
				<td colspan="7">10 Ticks Volume Table</td>
			</tr>
			<tr class="tableTitleTr">
				<td>Time</td>
				<td>Price</td>
				<td>Pips Chg</td>
				<td>Volume</td>
				<td>Fill On Bid</td>
				<td>Fill On Ask</td>
				<td>Ratio</td>
			</tr>
			<tr v-for="obj in volMsgAry" v-if="obj.topic==='tickVol'">
				<td class="tableTd">{{ obj.time }}</td>
				<td class="tableTd" v-bind:class="getPxDirectionClass( obj )">{{ obj.midPx }}</td>
				<td class="tableTd" v-bind:class="getPipChgClass( obj )">{{ obj.pipChg }}</td>
				<td class="tableTd" v-bind:class="getVolClass( obj )">{{ obj.vol }}</td>
				<td class="tableTd" v-bind:class="getFillDirectionClass( obj )">{{ obj.bidVol }}</td>
				<td class="tableTd" v-bind:class="getFillDirectionClass( obj )">{{ obj.askVol }}</td>
				<td class="tableTd" v-bind:class="getFillRatioClass( obj )">{{ obj.ratio }}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="jPanelTable orderCountTableDiv confSec">
	<div class="closeSecBtn secBtnDiv btnDiv">
		<i class="fa fa-times"></i>
	</div>
	<table class="orderCountTable">
		<tbody>
			<tr >
				<td colspan="3">Daily Placed Orders</td>
			</tr>
			<tr class="tableTitleTr">
				<td>ECN</td>
				<td>Symobl</td>
				<td>Number</td>
			</tr>
			<tr v-for="obj in orderCountAry">
				<td class="tableTd">{{ obj.ecn }}</td>
				<td class="tableTd">{{ obj.sym }}</td>
				<td class="tableTd">{{ obj.num }}</td>
			</tr>
		</tbody>
	</table>
</div>