<div id="jPanelAlgo">
	<div class="panlReldCvr"></div>
	<div class="cfmCvr"></div>
	<div class="cfmOnAlgoDiv cfmSec confSec">
		<span class="cfmDsr">Out standing open order exist.</br> Continue to start algo ?</span>
		<div class="cfmBtn">
			<div class="cfmOnCnlBtn cfmBtnDiv btnDiv">
				<span><i class="fa fa-undo" ></i> Cancel</span>
			</div>
			<div class="cfmOnCfmBtn cfmBtnDiv btnDiv">
				<span><i class="fa fa-play" ></i> Confirm</span>
			</div>
		</div>
	</div>
	<div class="confPanlSec confSec">
		<div class="confTypeDiv">
			<div class="confTypeIconDiv">
				<i class="fa fa-cog"></i>
			</div>
			<div v-if="item.showCfg"  v-for="item in vData" v-bind:class="[ 'conf' + item.name + 'Div' , 'confDiv' ]" >
				<div class="confIconDiv">
					<i v-bind:class="[ item.icon , 'fa' ]"></i>
				</div>
				<span class="confDsrSp">{{ item.title }}
					<span v-if="item.unit !=='' ">{{ "(" + item.unit + ")" }}</span>
				</span>
				<div v-if="item.showParm" class="confTxtDiv">
					<input type="text" class="txtIpt" value="0">
				</div>
				<div v-if="item.showSelect" class="confSeltDiv">
					<form class="custom">
						<select class="confSlet expand">
							<option v-for="vList in item.selectList" v-bind:value="[ vList ]" >{{vList}}</option>
						</select>
					</form>
				</div>
				<div v-if="item.showOn" class="confChkDiv">
					<input type="checkbox" class="confChk">
				</div>
			</div>
		</div>
		<div class="userInfoDiv infoDiv">
			<span id="userInfoIcon"><i class="fa fa-user"></i></span>
			<span id="userInfoID"></span>
			<span id="userInfoIP"></span>
		</div>
		<div class="confPanlCfmDiv confBtnDiv btnDiv">
			<span class="confCfmBtn"><i class="fa fa-floppy-o"></i> Save</span>
		</div>
		<div class="confReldDiv confBtnDiv btnDiv">
			<span class="confReldBtn">&#x21bb;</span>
		</div>
		<div class="confReldAllDiv confBtnDiv btnDiv">
			<span class="confReldAllBtn"><i class="fa fa-refresh"></i></span>
		</div>
	</div>
	<div class="confGuarSec confSec">
		<div class="confTypeDiv">
			<div class="confTypeIconDiv">
				<i class="fa fa-shield"></i>
			</div>
			<span class="dsrSp">Notice</span>
			<span class="dsrSp">FlatAll</span>
			<span class="dsrSp">Flat%</span>
			<span class="dsrSp">Off</span>
			<span class="dsrSp">Pause</span>
			<span class="dsrSp">On</span>
			<div v-if="item.showCfg"  v-for="item in vData" v-bind:class="[ 'conf' + item.name + 'Div' , 'confDiv' ]" >
				<div class="confIconDiv">
					<i v-bind:class="[ item.icon , 'fa' ]"></i>
				</div>
				<span class="confDsrSp">{{ item.title }}
					<span v-if="item.unit !=='' ">{{ "(" + item.unit + ")" }}</span>
				</span>
				<div v-if="item.showParm" class="confTxtDiv">
					<input type="text" class="txtIpt" value="0">
				</div>
				<div v-if="item.showNotice" class="confNoticeChkDiv">
					<input type="checkbox" class="confNoticeChk">
				</div>
				<div v-if="item.showFlatAll" class="confFlatAllChkDiv">
					<input type="checkbox" class="confFlatAllChk">
				</div>
				<div v-if="item.showFlat" class="confFlatChkDiv">
					<input type="checkbox" class="confFlatChk">
				</div>
				<div v-if="item.showOff" class="confOffChkDiv">
					<input type="checkbox" class="confOffChk">
				</div>
				<div v-if="item.showPause" class="confPauseChkDiv">
					<input type="checkbox" class="confPauseChk">
				</div>
				<div v-if="item.showOn" class="confOnChkDiv">
					<input type="checkbox" class="confOnChk">
				</div>
			</div>
		</div>
		<div class="confGuarCfmDiv confBtnDiv btnDiv">
			<span class="confCfmBtn"><i class="fa fa-floppy-o" ></i> Save</span>
		</div>
	</div>
	<div class="confModeSec confSec">
		<div class="confModeSecCvr"></div>
		<div class="confTypeDiv">
			<div class="confTypeIconDiv">
				<i class="fa fa-th-large"></i>
			</div>
			<div class="confModeListDiv confDiv">
				<ul class="confModeListUl">
				</ul>
				<div class="confModeBtnDiv">
					<div class="confModeNewDiv confBtnDiv btnDiv">
						<span class="confModeNewBtn"><i class="fa fa-th-large" ></i> New</span>
					</div>
					<div class="confModeSaveDiv confBtnDiv btnDiv">
						<span class="confModeSaveBtn"><i class="fa fa-floppy-o" ></i> Save</span>
					</div>
					<div class="confModeRenameDiv confBtnDiv btnDiv">
						<span class="confModeRenameBtn"><i class="fa fa-font" ></i> Rename</span>
					</div>
					<div class="confModeDeleteDiv confBtnDiv btnDiv">
						<span class="confModeDeleteBtn"><i class="fa fa-trash-o" ></i> Delete</span>
					</div>
					<div class="confModeDeleteAllDiv confBtnDiv btnDiv">
						<span class="confModeDeleteAllBtn"><i class="fa fa-trash-o" ></i> Del All</span>
					</div>
				</div>
			</div>
			<div class="confModeCfmSec">
				<div class="confModeIptDiv confModeDiv">
					<span class="confModeIptWarn">Please input alphanumeric characters. (A-Z,0-9 )</span>
					<div class="iptDiv">
						<input type="text" class="txtIpt" value="" maxlength="8">
					</div>
				</div>
				<div class="confModeTxtDiv confModeDiv" >
					<span class="confModeTxtSn"></span>
				</div>
				<div class="confModeBtnDiv">
					<div class="confModeCnlDiv confBtnDiv btnDiv">
						<span class="confModeCnlBtn"><i class="fa fa-undo" ></i> Cancel</span>
					</div>
					<div class="confModeCfmDiv confBtnDiv btnDiv">
						<span class="confModeCfmBtn"><i class="fa fa-floppy-o" ></i> Confirm</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="confErrorSec confSec">
		<div class="confTypeIconDiv">
			<i class="fa fa-exclamation-triangle"></i>
		</div>
		<div class="confErrorDiv confDiv">
			<span class="confMsgSp">Testing Words</span>
		</div>
		<div class="confErrorCnlBtnDiv confBtnDiv btnDiv">
			<span class="confErrorCnlBtn"><i class="fa fa-times" ></i> Close</span>
		</div>
	</div>
	<div class="panlSec">
		<div class="titleSec">
			<div class="panlReldNtcSec titleDiv">
				<div class="panlReldNtcDiv">
					<div class="panlReldLdDiv"></div>
					<span class="panlReldNtcSn panlReldSn">System was updated. The page will be reloaded in <span class="panlReldTimeSn"></span> second
					</span>
					<span class="panlReldWarnSn panlReldSn">System was updated. Please reload the Page.</span>
				</div>
			</div>
			<div class="panlPauseNtcSec titleDiv">
				<div class="panlPauseNtcDiv">
					<div class="panlPauseLdDiv"></div>
					<span class="panlPauseNtcSn panlPauseSn">Pause</span>
				</div>
			</div>
			<div class="panlStopNtcSec titleDiv">
				<div class="panlStopNtcDiv">
					<div class="panlStopLdDiv"></div>
					<span class="panlStopNtcSn">Stopping All</span>
				</div>
			</div>
			<div class="panlSwDiv">
				<label class="panlSwLbl swOnLbl">
					<input type="radio" class="swIpt" value="On">On
				</label>
				<label class="panlSwLbl swOffLbl panlSwChked">
					<input type="radio" class="swIpt" value="Off">Off
				</label>
				<label class="panlSwLbl swOffLbl panlSwChked swFlatLbl">
					<input type="radio" class="swIpt" value="Flat">Flat
				</label>
				<span class="panlSwBg"></span>
			</div>
			<div class="panlAddDiv panlBtnDiv btnDiv">
				<span class="panlAddBtn"><i class="fa fa-plus"></i></span>
			</div>
			<div class="panlDelAllDiv panlBtnDiv btnDiv">
				<span class="panlDelAllBtn"><i class="fa fa-times"></i></span>
			</div>
			<div class="panlCfgDiv panlBtnDiv btnDiv">
				<span class="panlCfgBtn"><i class="fa fa-cog"></i></span>
			</div>
			<div class="panlSortDiv panlBtnDiv btnDiv">
				<span class="panlSortAscBtn panlSortBtn"><i class="fa fa-sort-amount-desc"></i></span>
				<span class="panlSortDescBtn panlSortBtn"><i class="fa fa-sort-amount-asc"></i></span>
			</div>
			<div class="panlMaxProfitDiv">
				<span class="panlMaxProfitSn">$0</span>
			</div>
			<div class="panlCurrentModeDiv">
				<span class="panlCurrentModeSn"></span>
			</div>
			<div class="panlModeDiv panlBtnDiv btnDiv">
				<span class="panlModeBtn"><i class="fa fa-th-large"></i></span>
			</div>
			<div class="panlGuarDiv panlBtnDiv btnDiv">
				<span class="panlGuarBtn"><i class="fa fa-shield"></i></span>
			</div>
			<div class="panlSaveDiv panlBtnDiv btnDiv">
				<span class="panlSaveBtn"><i class="fa fa-floppy-o"></i></span>
			</div>
			<div class="panlFiveSecVolTableDiv panlBtnDiv btnDiv">
				<span class="panlTableBtn"><i class="fa fa-table"></i></span>
			</div>
			<div class="panlTickVolTableDiv panlBtnDiv btnDiv">
				<span class="panlTableBtn"><i class="fa fa-table"></i></span>
			</div>
			<div class="panlOrderCountTableDiv panlBtnDiv btnDiv">
				<span class="panlOrderCountBtn"><i class="fa fa-database"></i></span>
			</div>
		</div>
		<div class="defMacRow">
			<div class="confRowSec confSec">
				<div class="confTypeIconDiv">
					<i class="fa fa-cog"></i>
				</div>
				<div class="confRowUpdateFeqDiv confDiv">
					<div class="confIconDiv"><i class="fa fa-heartbeat"></i></div>
					<span class="confDsrSp">Update Frequency</span>
					<div class="confTxtDiv">
						<input type="text" class="txtIpt" value="0">
					</div>
				</div>
				<div class="confRowReplaceDelayDiv confDiv">
					<div class="confIconDiv"><i class="fa fa-clock-o"></i></div>
					<span class="confDsrSp">Replace Order Delay</span>
					<div class="confTxtDiv">
						<input type="text" class="txtIpt" value="0">
					</div>
				</div>
				<div class="confRowOrderMethodDiv confDiv">
					<div class="confIconDiv"><i class="fa fa-area-chart"></i></div>
					<span class="confDsrSp">Order Method</span>
					<div class="confTxtDiv">
						<input type="text" class="txtIpt" value="0">
					</div>
					<div class="confSeltDiv">
						<form class="custom">
							<select class="confSlet expand">
								<option value="Normal">Normal</option>
								<option value="SLOW">SLOW</option>
								<option value="MA">MA</option>
							</select>
						</form>
					</div>
				</div>
				<div class="confRowOrdTypeDiv confDiv">
					<div class="confIconDiv"><i class="fa fa-caret-square-o-down"></i></div>
					<span class="confDsrSp">Order Type</span>
					<div class="confSeltDiv">
						<form class="custom">
							<select class="confSlet expand">
								<option value="LO2">LO2</option>
								<option value="SO">SO</option>
							</select>
						</form>
					</div>
				</div>
				<div class="rowInfoDiv infoDiv">
					<span class="rowInfoID"></span>
				</div>
				<div class="confRowCfmDiv confBtnDiv btnDiv">
					<span class="confCfmBtn"><i class="fa fa-floppy-o" ></i> Save</span>
				</div>
			</div>
			<div class="confSymSprdDiv confSec">
				<div class="confTypeIconDiv">
					<i class="fa fa-exchange"></i>
				</div>
				<div class="confDiv">
					<div class="sprdSlidrDiv">
						<div class="sprdSlidr" ></div>
						<div class="bidLine vertiLine"></div>
						<div class="askLine vertiLine"></div>
					</div>
					<div class="bidSprdDiv symSprdDiv">
						<span class="dsrTxt">Bid Spread </span>
						<div class="iptDiv">
							<input type="text" class="txtIpt sprdIpt" value="0" disabled>
						</div>
					</div>
					<div class="askSprdDiv symSprdDiv">
						<div class="iptDiv">
							<input type="text" class="txtIpt sprdIpt" value="0" disabled>
						</div>
						<span class="dsrTxt">Ask Spread </span>
					</div>
					<div class="addSprdBtn sprdBtn btnDiv">
						<span><i class="fa fa-plus"></i></span>
					</div>
					<div class="minusSprdBtn sprdBtn btnDiv">
						<span><i class="fa fa-minus"></i></span>
					</div>
					<div class="bidShfitBtn sprdBtn btnDiv">
						<span><i class="fa fa-angle-double-left"></i></span>
					</div>
					<div class="askShfitBtn sprdBtn btnDiv">
						<span><i class="fa fa-angle-double-right"></i></span>
					</div>
					<div class="resetSprdBtn sprdBtn btnDiv">
						<span><i class="fa fa-undo"></i></span>
					</div>
					<div class="confSymSprdCfmDiv confBtnDiv btnDiv">
						<span class="confCfmBtn"><i class="fa fa-floppy-o" ></i> Save</span>
					</div>
				</div>
			</div>
			<div class="rowSec">
				<div class="rowDelDiv rowBtnDiv btnDiv"><i class="fa fa-times"></i></div>
				<div class="rowCfgDiv rowBtnDiv btnDiv"><i class="fa fa-cogs"></i></div>
				<div class="rowSortDiv rowBtnDiv btnDiv"><i class="fa fa-sort"></i></div>
				<div class="rowSprdDiv rowBtnDiv btnDiv"><i class="fa fa-exchange"></i></div>
				<div class="rowSprdDiv rowBtnDiv btnDiv"><i class="fa fa-exchange"></i></div>
				<div class="bidSec sideSec">
					<div class="macInfDiv" >
						<div class="infSprdDiv infDiv">
							<span class="dsrTxt">Bid Spd</span>
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
							<div class="trigLgtDiv"></div>
						</div>
						<div class="infPxDiv infDiv">
							<span class="dsrTxt">Placed Px</span>
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
						</div>
						<div class="infQtyDiv infDiv">
							<span class="dsrTxt">Filled Qty</span>
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
						</div>
					</div>
					<div class="swDiv macSw">
						<label class="macSwLbl swOnLbl">
							<input type="radio" class="swIpt" value="On">On
						</label>
						<label class="macSwLbl swOffLbl swChked">
							<input type="radio" class="swIpt" value="Off" checked>Off
						</label>
					</div>
					<div class="macSec">
						<div class="ctrlCvr macCvr"></div>
						<div class="ctrlSec">
							<div class="ctrlDiv ctrlPipsDiv">
								<span class="dsrTxt">Pips</span>
								<div class="iptDiv">
									<input type="text" class="txtIpt">
								</div>
								<div class="sldrBg pxSldrBg">
									<div class="sldrHd ui-slider-handle"></div>
								</div>
								<input type="text" class="ctrlVal" value="0">
							</div>
							<div class="ctrlDiv ctrlQtyDiv">
								<span class="dsrTxt">Qty</span>
								<div class="iptDiv">
									<input type="text" class="txtIpt">
								</div>
								<div class="sldrBg qtySldrBg">
									<div class="sldrHd ui-slider-handle"></div>
								</div>
								<input type="text" class="ctrlVal" value="0">
							</div>
						</div>
						<div class="ifdSwDiv">
							<!-- <label class="ifdSwLbl ifdSwChked"> -->
								<!-- <input type="radio" class="ifdSwIpt" value="1" checked>Stop on Partial Fill -->
							<!-- </label> -->
							<!-- <label class="ifdSwLbl"> -->
								<!-- <input type="radio" class="ifdSwIpt" value="2">Stop on Complete Fill -->
							<!-- </label> -->
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="9"checked>Non-Stop
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="10">Stop All
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="11">Stop All and Sell <span class="stopAllQtySn"></span> Lots
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="12">Auto On If No Trade
							</label>
							<span class="ifdSwBg"></span>
						</div>
					</div>
				</div>
				<div class="rowInfSec">
					<div class="rowInfCvr macCvr"></div>
					<div class="ecnDiv rowInfDiv">
						<form class="custom">
							<select class="ecnSlt rowInfSlt expand" >
								<option value="MREX">MREX</option>
								<option value="PATS">PATS</option>
								<option value="PATX">PATX</option>
								<option value="HKE">HKE</option>
							</select>
						</form>
					</div>
					<div class="symDiv rowInfDiv">
						<form class="custom">
							<select class="symSlt rowInfSlt expand" >
							</select>
						</form>
					</div>
				</div>
				<div class="askSec sideSec">
					<div class="macInfDiv" >
						<div class="infSprdDiv infDiv">
							<div class="trigLgtDiv"></div>
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
							<span class="dsrTxt">Ask Spd</span>
						</div>
						<div class="infPxDiv infDiv">
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
							<span class="dsrTxt">Placed Px</span>
						</div>
						<div class="infQtyDiv infDiv">
							<div class="iptDiv">
								<input type="text" class="txtIpt" value="0" disabled>
							</div>
							<span class="dsrTxt">Filled Qty</span>
						</div>
					</div>
					<div class="swDiv macSw">
						<label class="macSwLbl swOnLbl">
							<input type="radio" class="swIpt" value="On">On
						</label>
						<label class="macSwLbl swOffLbl swChked">
							<input type="radio" class="swIpt" value="Off" checked>Off
						</label>
					</div>
					<div class="macSec">
						<div class="ctrlCvr macCvr"></div>
						<div class="ctrlSec">
							<div class="ctrlDiv ctrlPipsDiv">
								<div class="sldrBg pxSldrBg">
									<div class="sldrHd ui-slider-handle"></div>
								</div>
								<div class="iptDiv">
									<input type="text" class="txtIpt">
								</div>
								<span class="dsrTxt">Pips</span>
								<input type="text" class="ctrlVal" value="0">
							</div>
							<div class="ctrlDiv ctrlQtyDiv">
								<div class="sldrBg qtySldrBg">
									<div class="sldrHd ui-slider-handle"></div>
								</div>
								<div class="iptDiv">
									<input type="text" class="txtIpt">
								</div>
								<span class="dsrTxt">Qty</span>
								<input type="text" class="ctrlVal" value="0">
							</div>
						</div>
						<div class="ifdSwDiv">
							<!-- <label class="ifdSwLbl ifdSwChked"> -->
								<!-- <input type="radio" class="ifdSwIpt" value="1" checked>Stop on Partial Fill -->
							<!-- </label> -->
							<!-- <label class="ifdSwLbl"> -->
								<!-- <input type="radio" class="ifdSwIpt" value="2">Stop on Complete Fill -->
							<!-- </label> -->
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="9" checked>Non-Stop
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="10">Stop All
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="11">Stop All and Buy <span class="stopAllQtySn"></span> Lots
							</label>
							<label class="ifdSwLbl">
								<input type="radio" class="ifdSwIpt" value="12">Auto On If No Trade
							</label>
							<span class="ifdSwBg"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>