#jPanelKM{
	width: 1180px;
	height: 270px;
	background: #fafafa;
	user-select: none;
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
}
#cnfmBg{
	width: 1200px;
	height: 270px;
	position: absolute;
	z-index: 3;
	background: black;
	opacity: 0.3;
	display:none;
}
#cnfmDiv{
	width: 285px;
	height: 115px;
	background: white;
	position: absolute;
	z-index: 4;
	padding: 10px;
	padding-top: 20px;
	top: 72px;
	left: 111px;
	opacity: 1;
	text-align: center;
	display:none;
}
.cnfmBtn{
	background: #e1e1e1;
	cursor: pointer;
	height: 30px;
	width: 70px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	position: relative;
	float: right;
	left: -33px;
	margin: 13px;
	opacity:0.7;
}
.cnfmBtn:hover{
	transition: .4s;
	box-shadow: 0px 0px 0px 0.4px black inset;
	opacity:1;
}
.cnfmTrue{
	color: red;
}
#cnfmSpan{
	font-size: 110%;
	width: 275px;
	float: left;
}
#cnfmKeyKey{
	font-weight: bold;
}
#cnfmKeyDetail{
}
.cnfmKeyBUY{
	color: green;
}
.cnfmKeySELL{
	color: red;
}
#tabNavSec{
	width: 60px;
	height: 100%;
}
#keyMapTab{
	width: 1155px;
	height: 100%;
	display:flex;
}
#keyKbSec{
	width: 460px;
	height: 203px;
	top: 5px;
	position: relative;
}
.secShdwSleted{
	transition: .8s;
	box-shadow: 0 0 4px 0px black!important;
	animation-name: secShdwAnteSleted;
	animation-duration: 1s;
}
.secShdwNone{
	transition: .8s;
	opacity: 0.4;
}
.secShdwWarn{
	animation-name: secShdwAnteWarn;
	animation-duration: 1s;
}
@keyframes secShdwAnteSleted {
	0%   {box-shadow: 0 0 30px 0px black;}
	100%  {box-shadow: 0 0 4px 0px black;}
}
@keyframes secShdwAnteWarn {
	0%   {box-shadow: 0 0 4px 0px #5f0707;}
	50%  {box-shadow: 0 0 30px 0px #5f0707;}
	75%   {box-shadow: 0 0 4px 0px #5f0707;}
	100% {box-shadow: none;}
}
#keyKbUI{
	margin: 0px;
	padding: 0px;
	position:relative;
	top:7px;
	list-style: none;
}
#keyKbUI li{
	float: left;
	margin: 0 1% 1% 0;
	width: 5.5%;
	height: 10%;
	line-height: 31px;
	text-align: center;
	background: #fff;
	border: 1px solid #e3e5ed;
	font-size: 70%;
	opacity:0.7;
}
#keyKbUI .capslock, .tab, .left-shift, .ctrl{
	clear: left;
}
#keyKbUI .tab, #keyKbUI .delete{
	width: 14.5%;
}
#keyKbUI .capslock{
	width: 16.5%;
}
#keyKbUI .return{
	width: 10%;
}
#keyKbUI .left-shift{
	width: 19%;
}
#keyKbUI .right-shift{
	width: 14%;
}
#keyKbUI .kbFuntKey{
	width: 7.9%;
}
#keyKbUI .space{
	width: 36.7%;
	color: rgba(0, 0, 0, 0)!important;
	text-shadow: none!important;
}
#keyKbUI .kbUablKey{
	font-size: 95%;
	transition: .4s;
	opacity:1;
}
#keyKbUI .kbUablKey:hover{
	cursor: pointer;
	border-color: black;
}
#keyKbUI .kbUsedKey{
	background:#e1e1e1;
	border-color: #b4b4b4;
}
#keyKbUI .kbSletedKey{
	background:#e1e1e1;
	font-size:180%;
}
#keyKbUI .kbBUYKey{
	color: green;
}
#keyKbUI .kbSELLKey{
	color: red;
}
#keyKbUI .kbCnlOrdtKey{
	color: blue;
}
#keyKbUI .space.kbBUYKey{
	box-shadow: inset 0 0 0px 2px #0f9d58;
}
#keyKbUI .space.kbSELLKey{
	box-shadow: inset 0 0 0px 2px #d23f31;
}
#keyKbUI .space.kbCnlOrdtKey {
	box-shadow: inset 0 0 0px 2px #3535f5;
}
#keyKbUI .kbIfdLO{
	text-decoration: overline;
}
#keyKbUI .kbIfdSO{
	text-decoration: underline;
}
#keyKbBtmSec{
	display: flex;
	position: relative;
	top: 13px;
}
.keyBttnDiv{
	z-index:3;
}
.keyBtn{
	background:#e1e1e1;
	color:inherit;
	font-size:150%;
	height: 40px;
	width: 150px;
	line-height: 40px;
	text-align: center;
	text-decoration:none;
	opacity: 0.3;
	float: left;
}
.keyBtn:hover{
	color: inherit;
}
.keyBtnEnabled{
	opacity: 0.7;
	cursor:pointer;
}
.keyBtnEnabled:hover{
	transition: .4s;
	box-shadow: 0px 0px 0px 0.4px black inset;
	color: inherit;
	opacity: 1;
}
.keyBtnEnabled:active{
	top:1px;
}
#keyDelAllBtn{
	display:none;
	z-index:3;
}
#kbSaveBtnDiv{
	left: 956px;
	top: 3px;
	position: absolute;
}
#kbKeyDiv{
	margin-left: 5px;
}
#kbKeyVal{
	width: 55px;
	height: 40px;
	text-align: center;
	font-size: 180%;
	display: none;
	border: 0px;
	user-select: none;
	cursor:default;
	opacity:0.7;
	background: #f2f2f2;
}
#keyTypeSec{
	width: 140px;
	height: 200px;
	text-align: center;
	margin: 5px;
	margin-top: 12px;
}
.keyTypeLbl{
	position: relative;
	z-index: 2;
	line-height: 48px;
	font-size: 125%;
	opacity: 0.3;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}
.keyTypeLbl:hover{
	transition: .4s;
	opacity: 1;
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.keyTypeIpt{
	display: none;
}
.keyTypeSleted{
	opacity:1;
	transition: 0.5s;
	transition-delay: 0.1s;
}
#keyTypeBg{
	position: absolute;
	width: inherit;
	height: 48px;
	background: #e1e1e1;
	z-index: 0;
	top:12px;
	left: 523px;
}
.keySideSec{
	position: relative;
	height: 40px;
	width: 140px;
	background: #f2f2f2;
}
.keySideLbl{
	position: relative;
	z-index: 2;
	float: left;
	width: 70px;
	line-height: 40px;
	font-size: 125%;
	opacity: 0.3;
	text-align: center;
	cursor: pointer;
}
.keySideLbl:hover{
	transition: .4s;
	opacity: 1;
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.keySideIpt{
	display: none;
}
.keySideIpt:checked + .keySideLbl{
	opacity: 1;
	transition: 0.15s ease-out;
}
.keySideIpt:checked + .keySideLblSELL ~ .keySideBg{
	left: 70px;
}
.keySideBg{
	position: absolute;
	z-index: 1;
	left: 0px;
	display: block;
	width: 70px;
	height: 40px;
	background: #e1e1e1;
	transition: left 0.15s ease-out;
}
#keyOrdSec{
	display: flex;
}
#pxChtSec{
	height: 260px;
	width: 160px;
	margin: 5px;
}
.pxChtZmBtn{
	opacity: 0.4;
	margin:1px;
}
#pxChtZmDiv{
	opacity: 0.5;
	position: absolute;
	left: 780px;
	z-index: 2;
	width: 80px;
	font-size: 85%;
	top: 11px;
}
#pxChtZmDiv:hover{
	opacity: 1;
}
.pxChtZmBtn:hover{
	opacity: 1;
}
#pxChtZmInBtn{
	cursor:zoom-in;
}
#pxChtZmOutBtn{
	cursor:zoom-out;
}
.pxChtDiv{
	display: none;
}
#pxChtSec path{
	fill: none;
	stroke: black;
}
#pxChtSec #graph{
	position: relative;
	float: left;
}
#pxChtSec .d3yAxis{
	font-size: 80%;
	font-weight: 100;
	stroke: black;
	stroke-width: 0.5px;
	stroke-opacity: 0.5;
}
#pxChtSec .d3xAxis{
	stroke: black;
	stroke-width: 0.5px;
	stroke-opacity: 0.5;
}
#pxChtSec .d3Line{
	width:100px;
	height:2px;
	fill: black;
	stroke: rgba(250, 250, 250, 0);
	stroke-width: 19px;
}
#pxChtSec .d3Line_IfD{
	width:70px;
}
#pxChtSec .d3TipBg{
	width:28px;
	height:15px;
	stroke:#000;
	stroke-width: 0.6px;
	fill: #fafafa;
}
#pxChtSec .d3Tip{
	fill: #000;
	font-size: 80%;
	text-anchor: middle;
}
#pxChtSec .d3SletedLine{
	height: 2px;
}
#pxChtSec .d3SletedTipBg{
	transform: translate(-6px,-6px);
	width:40px;
	height:20px;
	stroke-width: 0.5px;
}
#pxChtSec .d3SletedTip{
	font-size: 20px;
}
#keyDtlSec{
	width: 160px;
	height: 260px;
	font-size:90%;
	line-height: 32px;
	margin: 5px;
	font-weight: normal;
}
.keyDtlTtlDiv{
	font-size: 150%;
	text-align: center;
}
.keyDtlTtlTxt{

}
.keyDtlCtrl{
	background:inherit;
	color:inherit;
	border : 0px;
	border-bottom-style: solid!important;
	border-bottom-width: 0.5px!important;
	border-bottom-color: rgba(161, 161, 161, 0.7)!important;
	width:70px!important;
	float:right;
	top: 6px;
	font-family: inherit;
	position: relative;
	font-size: inherit!important;
	cursor:pointer;
}
#keyDtlSec input{
	outline: none;
	margin: 0px;
	height: inherit;
	font-family: inherit;
	padding: 0px;
	font-weight: normal;
	background: inherit;
}
.keyDtlTxt{
	opacity:0.7;
	float: left;
	width: 55px;
}
.keyDtlSldrDiv{
	float:right;
	margin-top: 10px;
	background:rgba(161, 161, 161, 0.4);
	height: 0.5px;
	width: 60px;
	position: relative;
	top: 8px;
	    margin-right: 10px;
}
.keyDtlHadle{
	width: 30px!important;
	height: 25px!important;
	margin-top: -13px;
	text-align: center;
	line-height: 25px;
	font-size: 120%;
	background: #e1e1e1;
	margin-left: -20px!important;
	position: absolute!important;
	z-index: 2;
	border: 0px;
	top: 0px!important;
	cursor: w-resize!important;
}
.keyDtlHadle:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.keyDtlHadle:active{
	color:inherit!important;
	font-weight:normal!important;
	background: #cdcbcb;
	border-style: none;
}
.keyDtlIptDiv{
	position: relative;
	float: right;
	display: none;
}

.keyDtlLnkLbl{
	float: left;
	opacity: 1!important;
}
.keyDtlLnkCtrl{
	display:none;
}
.keyDtlLnkTtp{
	opacity:0.5;
	font-size: 125%;
	position: relative;
	top: 1px;
	transition: .4s;
}
.keyDtlLnkCtrl:checked +.keyDtlLnkTtp{
	opacity:1;
}
.keyDtlDiv{
	width: 150px;
	overflow: overlay;
}
.keyDtlDsabdCtrl{
	opacity:0.7;
	cursor: default!important;
}
.keyDtlIptWarn{
	transition: .4s;
	box-shadow: inset 0 0 0px 1px red;
}
#keyIfdSec{
	width: 160px;
	height: 220px;
	overflow: hidden;
	display: none;
}
#keyIfdSec input{
	outline: none;
	margin: 0px;
	height: inherit;
	font-family: inherit;
	padding: 0px;
	font-weight: normal;
}
.keyIfdTypeSec{
	height: 110px;
	opacity: 0.3;
	transition: .4s;
	overflow:hidden;
}
.keyIfdSleted{
	height: 170px;
}
.keyIfdUnsleted{
	height: 30px;
}
.keyIfdTxt{
	transition: .4s;
	cursor: pointer;
	background: #212121;
}
.keyIfdTxt:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
	opacity:1;
}
.keyIfdIpt{
	display:none;
}
.keyIfdEnable{
	opacity: 1;
}
.keyIfdIpt:checked + .keyIfdTxt{
	background: #303030;
}
#keyCnlOrdSec{
	display:none;
}
#keyAlgoOrdSec{
	display:none;
	width: 500px;
	height: 260px;
	margin:5px;
	position: absolute;
	left: 665px;
}
#cnlOrdSec{
	width: 500px;
	height: 260px;
	margin:5px;
	position: absolute;
	left: 665px;
}
.cnlOrdDiv{
	position:relative;
	width: 150px;
	height: 37px;
	margin-bottom: 9px;
}
.cnlOrdLbl{
	opacity:1!important;
}
.cnlOrdLbl input{
	display:none;
}
.cnlOrdLbl input:checked + .cnlOrdLbl{
	opacity:1;
}
.cnlOrdLbl .cnlOrdBtn{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #e1e1e1;
	transition: .4s;
	text-align: center;
	line-height: 35px;
	opacity:0.7;
}
.cnlOrdLbl .cnlOrdMltSlet{
	cursor: cell;
}
.cnlOrdLbl input:checked + .cnlOrdBtn{
	background: #cdcccc;
	opacity:1;
}
.cnlOrdLbl .cnlOrdBtn:hover{
	transition: .4s;
	box-shadow: 0px 0px 0px 0.4px black inset;
	opacity:1;
}
#cnlOrdSec #cnlAllDiv{
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	font-size: 150%;
}
#cnlOrdSec .cnlOrdRight{
	float:right;
	margin-right: 7px;
}
#cnlOrdSec .cnlOrdLeft{
	float:left;
	margin-left: 7px;
}
#cnlOrdSec .cnlOrdKeyUp{
	top: 8px;
	position: relative;
	width: 330px;
}
#cnlOrdSec .cnlOrdKeyDown{
	top: 30px;
	position: relative;
	width: 330px;
}
#cnlOrdSec .cnlOrdKeyGroup{
	position: absolute;
	left: 344px;
	top: 8px;
}

.algoOrdDiv{
	position:relative;
	width: 150px;
	height: 35px;
	margin: 10px;
}
.algoOrdLbl{
	opacity:1!important;
}
.algoOrdLbl input{
	display:none;
}
.algoOrdLbl input:checked + .algoOrdLbl{
	opacity:1;
}
.algoOrdLbl .algoOrdBtn{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #e1e1e1;
	transition: .4s;
	text-align: center;
	line-height: 35px;
	opacity:0.7;
}
.algoOrdLbl input:checked + .algoOrdBtn{
	background: #cdcccc;
	opacity:1;
}
.algoOrdLbl .algoOrdBtn:hover{
	transition: .4s;
	box-shadow: 0px 0px 0px 0.4px black inset;
	opacity:1;
}
.algoOrdGpDiv{
	display: flex;
}
.night-mode #jPanelKM{
	background:#303030;
}
.night-mode #keyKbUI li{
	background: #414141;
	border: 1px solid #414141;
}
.night-mode #kbKeyVal{
	background: #383838;
}
.night-mode #kbKeyDiv{
	border: none;
}
.night-mode #keyTypeBg{
	background: #414141;
}
.night-mode .keySideSec{
	background: #343434;
}
.night-mode .keySideBg{
	background: #414141;
}
.night-mode .keyBtn{
	background: #414141;
}
.night-mode #pxChtSec .d3TipBg{
	fill: #414141;
	stroke:none;
}
.night-mode #pxChtSec .d3Tip{
	fill: #fdbd00;
}
.night-mode #pxChtSec .d3Line{
	fill: #fdbd00;
}
.night-mode #pxChtSec .d3yAxis{
	stroke: #fdbd00;
}
.night-mode .keyDtlHadle{
	background: #414141;
}
.night-mode #keyDtlSec .keyDtlCtrl{
	background: #303030;
}
.night-mode .keySpecBtnText{
	background: #414141;
}
.night-mode .cnlOrdLbl .cnlOrdBtn{
	background: #343434;
}
.night-mode .cnlOrdLbl input:checked + .cnlOrdBtn{
	background: #414141;
}
.night-mode #cnfmDiv{
	background: #212121;
}
.night-mode .cnfmBtn{
	background: #414141;
}

.night-mode #keyKbUI .kbUablKey{
	opacity:0.7;
}
.night-mode #keyKbUI .kbUablKey:hover{
	opacity:1;
}
.night-mode #keyKbUI .kbUsedKey{
	color: white;
	opacity:1;
}
.night-mode #keyKbUI .kbSletedKey{
	opacity:1;
}
.night-mode #keyKbUI .kbBUYKey{
	background: #0f9d58;
}
.night-mode #keyKbUI .kbSELLKey{
	background: #d23f31;
}
.night-mode #keyKbUI .kbCnlOrdtKey{
	background: #3535f5;
}
.night-mode .cnfmDiv{
	background: #151515;
}
@keyframes secShdwAnteSletedNight {
	0%   {box-shadow: 0 0 30px 0px white;}
	100%  {box-shadow: 0 0 4px 0px white;}
}
.night-mode .secShdwSleted{
	box-shadow: 0px 0px 4px 0px white!important;
	animation-name: secShdwAnteSletedNight;
}