<div id="jPanelHSI">
	<div class="jNoticeDiv" id="jNoticeHSIDiv">
		<div class="jNoticeIcon">
			<span class="jNoticeSym"></span>
		</div>
		<div class="jNoticeMsg" id="jNoticeHSIMsg"></div>
	</div>
	<div id="setChtDiv">
		<div class="ctrlDiv">
			ECN:
			<select id="ordECNCtrl">
				<option value="ECN" selected></option>
				<option value="HKE">HKE</option>
				<option value="SAXO">SAXO</option>
			</select>
		</div>
		<div class="ctrlDiv">
			Symbol:
			<input type="text" id="ordSymCtrl" size="4">
		</div>
		<div class="ctrlDiv">
			Side:
			<select id="ordSideCtrl">
				<option value="BUY">BUY</option>
				<option value="SELL">SELL</option>
			</select>
		</div>
		<div class="ctrlDiv">
			Trigger point:
			<input type="text" id="ordTgrPntCtrl" size="4">
		</div>
		<div class="sldrDiv">
			Step:
			<div id="ordStepSldr" class="ordSetSldr">
				<div id="ordStepCtrl" class="ordSetCtrl ui-slider-handle"></div>
			</div>
		</div>
		<div class="sldrDiv">
			Step Distance:
			<div id="ordStepDistSldr" class="ordSetSldr">
				<div id="ordStepDistCtrl" class="ordSetCtrl ui-slider-handle"></div>
			</div>
		</div>
		<div class="sldrDiv">
			Trailing step:
			<div id="ordTrlStepSldr" class="ordSetSldr">
				<div id="ordTrlStepCtrl" class="ordSetCtrl ui-slider-handle"></div>
			</div>
		</div>
		<div class="sldrDiv">
			Stop Distance:
			<div id="ordStpDistSldr" class="ordSetSldr">
				<div id="ordStpDistCtrl" class="ordSetCtrl ui-slider-handle"></div>
			</div>
		</div>
		<div class="sldrDiv">
			Quantity:
			<div id="ordQttySldr" class="ordSetSldr">
				<div id="ordQttyCtrl" class="ordSetCtrl ui-slider-handle"></div>
			</div>
		</div>
		<div class="btnDiv">
			<a class="chtDivBtn" id="drawChtBtn">Draw Chart</a>
			<a class="chtDivBtn" id="sendOrdBtn">Send Order</a>
		</div>
	</div>
	<div id="setOrdDiv">
		<div id="ordChtDiv">
			<div id="zmChtScale">
				<span class="zmIcon" id="zmOut">&#x2796;</span>
				<span id="zmGlass">&#128269;</span>
				<span class="zmIcon" id="zmIn">&#x2795;</span>
			</div>
			<div id="HSICht">
			</div>
		</div>
		<div id="setDetlDiv">
			<div id="etyCtrlDiv">
				<span id="etyTypeCtrl"></span> Order
				<div class="detlRmBtnDiv">
					<span id="rmvBtn">X</span>
				</div>
				<div class="detlCtrlDiv">
					At: <input type="text" id="etyPxCtrl">
				</div>
				<div class="detlCtrlDiv">
					Duration:
					<select id="etyDurCtrl">
						<option value="DAY">DAY</option>
						<option value="IOC">IOC</option>
						<option value="FOK">FOK</option>
					</select>
				</div>
				<div class="etySldrDiv">
					Quantity:
					<div id="etyQttySldr" class="ordSpecSldr">
						<div id="etyQttyCtrl" class="ordSpecCtrl ui-slider-handle"></div>
					</div>
				</div>
				<div class="etySldrDiv">
					Slippage:
					<div id="etySlipSldr" class="ordSpecSldr">
						<div id="etySlipCtrl" class="ordSpecCtrl ui-slider-handle"></div>
					</div>
				</div>
			</div>
			<hr>
			<div id="stpCtrlDiv">
				If Done <span id="stpTypeCtrl"></span> Order
				<div class="detlCtrlDiv">
					At:<input type="text" id="stpPxCtrl">
				</div>
				<div class="detlCtrlDiv">
					Duration:
					<select id="stpDurCtrl">
						<option value="DAY">DAY</option>
						<option value="IOC">IOC</option>
						<option value="FOK">FOK</option>
					</select>
				</div>
				<div class="stpSldrDiv">
					Quantity:
					<div id="stpQttySldr" class="ordSpecSldr">
						<div id="stpQttyCtrl" class="ordSpecCtrl ui-slider-handle"></div>
					</div>
				</div>
				<div class="stpSldrDiv">
					Slippage:
					<div id="stpSlipSldr" class="ordSpecSldr">
						<div id="stpSlipCtrl" class="ordSpecCtrl ui-slider-handle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>