<div id="jPanelGetLeader">
	<div class="btnDiv">
		<span><i class="fa fa-envelope" ></i> Send Message</span>
	</div>
	<div class="infoDiv">
		<span id="userInfoIcon"><i class="fa fa-user"></i></span>
		<span id="userInfoID"></span>
		<span id="userInfoIP"></span>
	</div>
</div>