<div id="jPanelSC">
	<div id="shortcut">
		<div id="scTitle">Shortcut</div>
		<div id="scBox">
			<ul id="scList">
			</ul>
			<div id="scDrop">X</div>
		</div>
	</div>
	<div id="taskDiv">
		<div id="menuBtn"><span id="menuSign">+</span>
			<ul id="taskMenu">
				<li><a >Place Order</a>
					<ul class="subMenu">
						<li><a >Limit</a></li>
						<li><a >Stop</a></li>
						<li><a >T. Stop</a></li>
						<li><a >Market</a></li>
						<li><a >OCO</a></li>
					</ul>
				</li>
				<li><a >Cancel Order</a></li>
				<li><a >Select Window</a>
					<ul class="subMenu">
						<li><a class="scBtn" id="scOrderBook">Order Book</a></li>
						<li><a class="scBtn" id="scTradeBook">Trade Book</a></li>
						<li><a class="scBtn" id="scPnL">P&L </a></li>
						<li><a class="scBtn" id="scAggPx">Agg Px</a></li>
					</ul>
				</li>
				<li><a >Edit Panel</a>
					<ul class="subMenu">
						<li><a class="scBtn" id="scClearPanel">Clear Panel</a></li>
						<li><a class="scBtn" id="scAddPanel">Add Panel</a></li>
					</ul>
				</li>
				<li><a >Get Report</a></li>
				<li><a id="scSettingBtn">Setting</a></li>
			</ul>
		</div>
	</div>
	<div id="scContent">
		<div id="scKbDiv">
			<ul id="scKbUI">
				<li>`</li>
				<li class="scKey" id="scKey1">1</li>
				<li class="scKey" id="scKey2">2</li>
				<li class="scKey" id="scKey3">3</li>
				<li class="scKey" id="scKey4">4</li>
				<li class="scKey" id="scKey5">5</li>
				<li class="scKey" id="scKey6">6</li>
				<li class="scKey" id="scKey7">7</li>
				<li class="scKey" id="scKey8">8</li>
				<li class="scKey" id="scKey9">9</li>
				<li class="scKey" id="scKey0">0</li>
				<li>-</li>
				<li>=</li>
				<li class="delete">Delete</li>
				<li class="tab">Tab</li>
				<li class="scKey" id="scKeyQ">Q</li>
				<li class="scKey" id="scKeyW">W</li>
				<li class="scKey" id="scKeyE">E</li>
				<li class="scKey" id="scKeyR">R</li>
				<li class="scKey" id="scKeyT">T</li>
				<li class="scKey" id="scKeyY">Y</li>
				<li class="scKey" id="scKeyU">U</li>
				<li class="scKey" id="scKeyI">I</li>
				<li class="scKey" id="scKeyO">O</li>
				<li class="scKey" id="scKeyP">P</li>
				<li>[</li>
				<li>]</li>
				<li>\</li>
				<li class="capslock">Caps Lock</li>
				<li class="scKey" id="scKeyA">A</li>
				<li class="scKey" id="scKeyS">S</li>
				<li class="scKey" id="scKeyD">D</li>
				<li class="scKey" id="scKeyF">F</li>
				<li class="scKey" id="scKeyG">G</li>
				<li class="scKey" id="scKeyH">H</li>
				<li class="scKey" id="scKeyJ">J</li>
				<li class="scKey" id="scKeyK">K</li>
				<li class="scKey" id="scKeyL">L</li>
				<li>;</li>
				<li>'</li>
				<li class="return">Return</li>
				<li class="left-shift">Shift</li>
				<li class="scKey" id="scKeyZ">Z</li>
				<li class="scKey" id="scKeyX">X</li>
				<li class="scKey" id="scKeyC">C</li>
				<li class="scKey" id="scKeyV">V</li>
				<li class="scKey" id="scKeyB">B</li>
				<li class="scKey" id="scKeyN">N</li>
				<li class="scKey" id="scKeyM">M</li>
				<li>,</li>
				<li>.</li>
				<li>/</li>
				<li class="right-shift">Shift</li>
				<li class="scKey space" id="scKeySPACE">SPACE</li>
			</ul>
		</div>
		<div id="scSetting">
		</div>
	</div>
</div>