#jPanelHSI{
	width: 500px;
	height: 270px;
	background: #fafafa;
	padding: 5px;
	display: inline-flex;
	user-select: none;
	font-family: 'Roboto Condensed', sans-serif;
}
#jPanelHSI p {
	display: inline;
}
#setChtDiv{
	width: 250px;
	height: 270px;
	padding-left: 5px;
	padding-top: 10px;
	line-height: 25px;
	font-size: 90%;
}
.ctrlDiv{
	width: 230px;
}
.ctrlDiv input, select{
	outline: none;
	margin: 0px;
	height: inherit;
	width: 100px;
	background: #fafafa;
	border : 0px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #a1a0a3;
	float: right;
	position: relative;
	top: -1px;
}
#ordSymSaxo{
	display:none;
}
#ordSubmit {
	left:180px;
	position:relative;
}
#setOrdDiv{
	display: inherit;
	width: 450px;
	height: 270px;
}
#ordChtDiv{
	width: 280px;
	height: 270px;
}
#setDetlDiv{
	width: 167px;
	height: 270px;
	display: none;
	line-height: 24px;
	font-size: 90%;
}
#setDetlDiv input, select{
	width: 100px;
	outline: none;
	background: #fafafa;
	border : 0px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #a1a0a3;
	float: right;
	position: relative;
	top: 4px;
	margin: 0px;
	height: inherit;
}
#setDetlDiv hr{
	margin: 3px;
}
.sldrDiv{
	display: inline-block;
	width: 230px;
}
.ordSetSldr{
	margin-top: 10px;
	background:#a1a0a3;
	height: 1px;
	width: 120px;
	position: relative;
	float: right;
	top: 4px;
}
.ordSetCtrl {
	width: 28px!important;
	height: 21px!important;
	margin-top: -10px;
	text-align: center;
	line-height: 23px;
	font-size: 12px;
	background: #e9e9e9;
	margin-left: -20px!important;
	position: absolute!important;
	z-index: 2;
	top:0px!important;
}
.ordSetCtrl:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.ordSetCtrl:active{
	color:#000!important;
	background: #cdcbcb;
	border: none;
}
.detlCtrlDiv{
	width: 170px;
}
.etySldrDiv{
	display: inline-block;
	width: 170px;
}
.ordSpecSldr{
	margin-top: 10px;
	background:#a1a0a3;
	height: 1px;
	width: 70px;
	position: relative;
	float: right;
	top: 4px;
	left: -10px;
}
.ordSpecCtrl {
	width: 28px!important;
	height: 21px!important;
	margin-top: -10px;
	text-align: center;
	line-height: 23px;
	font-size: 11px;
	background: #e9e9e9;
	margin-left: -20px!important;
	position: absolute!important;
	z-index: 2;
	border: 0px;
	top:0px!important;
}
.ordSpecCtrl:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.ordSpecCtrl:active{
	color:#000!important;
	background: #cdcbcb;
	border-style: none;
}
.detlRmBtnDiv{
	position: absolute;
	display:none;
}
.detlRmBtnDiv #rmvBtn{
    position: relative;
    top: -24px;
    left: 153px;
    font-weight: bold;
    opacity: 0.2;
    cursor: pointer;	
}
.detlRmBtnDiv #rmvBtn:hover{
	opacity: 1;
}
.btnDiv{
	
}
.chtDivBtn{
	background: #e9e9e9;
	cursor: pointer;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	height: 27px!important;
	width: 71px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	top: 7px;
	position: relative;
	float: left;
}
.chtDivBtn:hover {
	transition: .4s;
	box-shadow: 0px 0px 0px 0.4px black inset;
	color: #000;
}
.chtDivBtn:active{
	top:8px;
}
#drawChtBtn{
	left: 22px;
}
#sendOrdBtn{
	left: 48px;
}
#etyCtrlDiv{
	margin-bottom: 15px;
}
#ordChtDiv .zmIcon{
	opacity: 0.4;
	cursor:pointer;
	margin:4px
}
#ordChtDiv #zmChtScale{
	opacity: 0.25;
	position: absolute;
	left: 442px;
	z-index: 2;
}
#ordChtDiv #zmChtScale:hover{
	opacity: 1;
}
#ordChtDiv .zmIcon:hover{
	opacity: 1;
}
#ordChtDiv #zmGlass{
	font-size:17px;
}
/* d3 CSS */

#HSICht .d3yAxis {
	stroke: #5c5c5c;
	fill: none;
	font-size: 12px;
	font-weight: normal;
}
#HSICht .d3Line {
	width:100px;
	height:2px;
	fill:#000;
	stroke: rgba(250, 250, 250, 0);
	stroke-width: 19px;
}
#HSICht .d3TipBg {
	width:38px;
	height:15px;
	stroke:#000;
	stroke-width: 0.6px;
	fill: #fafafa;
}
#HSICht .d3Tip {
	fill: #000;
	font-size: 12px ;
	text-anchor: middle;
}
#HSICht .d3LineStop {
	fill:#c4c4c4;
	width:50px;
	height:3px;
	stroke: rgba(250, 250, 250, 0);
	stroke-width: 15px;
}
#HSICht .d3TipBgStop {
	fill:#c4c4c4;
	width:35px;
}
#HSICht .d3TipStop {
	font-size: 11px;
}
#HSICht .d3LineTkPf {
	fill:#0aa500;
}
#HSICht .d3TipTkPf {
	fill: #1e4f1b;
}
#HSICht .d3TipBgTkPf {
	stroke: #1e5d2a;
	stroke-width: 1px;
}
#HSICht .d3SletedLine {
	height: 3px;
}
#HSICht .d3SletedTipBg {
	transform: translate(-2px,-4px);
	width:41px;
	height:19px;
}
#HSICht .d3SletedTip {
	font-size: 90%;
}