<div id="jPanelAlgo">
	<div class="panlReldCvr"></div>
	<div class="cfmCvr"></div>
	<div class="cfmOnAlgoDiv cfmSec confSec">
		<span class="cfmDsr">Out standing open order exist.</br> Continue to start algo ?</span>
		<div class="cfmBtn">
			<div class="cfmOnCnlBtn cfmBtnDiv btnDiv">
				<span><i class="fa fa-undo" ></i> Cancel</span>
			</div>
			<div class="cfmOnCfmBtn cfmBtnDiv btnDiv">
				<span><i class="fa fa-play" ></i> Confirm</span>
			</div>
		</div>
	</div>
	<div class="confPanlSec confSec">
		<div class="confTypeDiv">
			<div class="confTypeIconDiv">
				<i class="fa fa-cog"></i>
			</div>
			<div v-if="confObj.showCfg"  v-for="confObj in confAry" v-bind:class="[ 'conf' + confObj.name + 'Div' , 'confDiv' ]" >
				<div class="confIconDiv">
					<i v-bind:class="[ confObj.icon , 'fa' ]"></i>
				</div>
				<span class="confDsrSp">{{ confObj.title }}
					<span v-if="confObj.unit !=='' ">{{ "(" + confObj.unit + ")" }}</span>
				</span>
				<div v-if="confObj.showParm" class="confTxtDiv">
					<input type="text" class="txtIpt" value="0">
				</div>
				<div v-if="confObj.showSelect" class="confSeltDiv">
					<form class="custom">
						<select class="confSlet expand">
							<option v-for="panlCfgList in confObj.selectList" v-bind:value="[ panlCfgList ]" >{{ panlCfgList }}</option>
						</select>
					</form>
				</div>
				<div v-if="confObj.showOn" class="confChkDiv">
					<input type="checkbox" class="confChk">
				</div>
			</div>
		</div>
		<div class="userInfoDiv infoDiv">
			<span id="userInfoIcon"><i class="fa fa-user"></i></span>
			<span id="userInfoID"></span>
			<span id="userInfoIP"></span>
		</div>
		<div class="confPanlCfmDiv confBtnDiv btnDiv">
			<span class="confCfmBtn"><i class="fa fa-floppy-o"></i> Save</span>
		</div>
		<div class="confReldDiv confBtnDiv btnDiv">
			<span class="confReldBtn">&#x21bb;</span>
		</div>
		<div class="confReldAllDiv confBtnDiv btnDiv">
			<span class="confReldAllBtn"><i class="fa fa-refresh"></i></span>
		</div>
	</div>
	<div class="confGuarSec confSec">
		<div class="confTypeDiv">
			<div class="confTypeIconDiv">
				<i class="fa fa-shield"></i>
			</div>
			<span class="dsrSp">Notice</span>
			<span class="dsrSp">FlatAll</span>
			<span class="dsrSp">Flat%</span>
			<span class="dsrSp">Off</span>
			<span class="dsrSp">Pause</span>
			<span class="dsrSp">On</span>
			<div v-if="confObj.showCfg"  v-for="confObj in confAry" v-bind:class="[ 'conf' + confObj.name + 'Div' , 'confDiv' ]" >
				<div class="confIconDiv">
					<i v-bind:class="[ confObj.icon , 'fa' ]"></i>
				</div>
				<span class="confDsrSp">{{ confObj.title }}
					<span v-if="confObj.unit !=='' ">{{ "(" + confObj.unit + ")" }}</span>
				</span>
				<div v-if="confObj.showParm" class="confTxtDiv">
					<input type="text" class="txtIpt" value="0">
				</div>
				<div v-if="confObj.showNotice" class="confNoticeChkDiv">
					<input type="checkbox" class="confNoticeChk">
				</div>
				<div v-if="confObj.showFlatAll" class="confFlatAllChkDiv">
					<input type="checkbox" class="confFlatAllChk">
				</div>
				<div v-if="confObj.showFlat" class="confFlatChkDiv">
					<input type="checkbox" class="confFlatChk">
				</div>
				<div v-if="confObj.showOff" class="confOffChkDiv">
					<input type="checkbox" class="confOffChk">
				</div>
				<div v-if="confObj.showPause" class="confPauseChkDiv">
					<input type="checkbox" class="confPauseChk">
				</div>
				<div v-if="confObj.showOn" class="confOnChkDiv">
					<input type="checkbox" class="confOnChk">
				</div>
			</div>
		</div>
		<div class="confGuarCfmDiv confBtnDiv btnDiv">
			<span class="confCfmBtn"><i class="fa fa-floppy-o" ></i> Save</span>
		</div>
	</div>
	<div class="confModeSec confSec">
		<div class="confModeSecCvr"></div>
		<div class="confTypeDiv">
			<div class="confTypeIconDiv">
				<i class="fa fa-th-large"></i>
			</div>
			<div class="confModeListDiv confDiv">
				<ul class="confModeListUl">
				</ul>
				<div class="confModeBtnDiv">
					<div class="confModeNewDiv confBtnDiv btnDiv">
						<span class="confModeNewBtn"><i class="fa fa-th-large" ></i> New</span>
					</div>
					<div class="confModeSaveDiv confBtnDiv btnDiv">
						<span class="confModeSaveBtn"><i class="fa fa-floppy-o" ></i> Save</span>
					</div>
					<div class="confModeRenameDiv confBtnDiv btnDiv">
						<span class="confModeRenameBtn"><i class="fa fa-font" ></i> Rename</span>
					</div>
					<div class="confModeDeleteDiv confBtnDiv btnDiv">
						<span class="confModeDeleteBtn"><i class="fa fa-trash-o" ></i> Delete</span>
					</div>
					<div class="confModeDeleteAllDiv confBtnDiv btnDiv">
						<span class="confModeDeleteAllBtn"><i class="fa fa-trash-o" ></i> Del All</span>
					</div>
				</div>
			</div>
			<div class="confModeCfmSec">
				<div class="confModeIptDiv confModeDiv">
					<span class="confModeIptWarn">Please input alphanumeric characters. (A-Z,0-9 )</span>
					<div class="iptDiv">
						<input type="text" class="txtIpt" value="" maxlength="8">
					</div>
				</div>
				<div class="confModeTxtDiv confModeDiv" >
					<span class="confModeTxtSn"></span>
				</div>
				<div class="confModeBtnDiv">
					<div class="confModeCnlDiv confBtnDiv btnDiv">
						<span class="confModeCnlBtn"><i class="fa fa-undo" ></i> Cancel</span>
					</div>
					<div class="confModeCfmDiv confBtnDiv btnDiv">
						<span class="confModeCfmBtn"><i class="fa fa-floppy-o" ></i> Confirm</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="confOrderSec confSec">
		<div class="confTypeIconDiv">
			<i class="fa fa-caret-square-o-down"></i>
		</div>
		<div v-if="confObj.showCfg"  v-for="confObj in confAry" v-bind:class="[ 'conf' + confObj.name + 'Div' , 'confDiv' ]" >
			<div class="confIconDiv">
				<i v-bind:class="[ confObj.icon , 'fa' ]"></i>
			</div>
			<span class="confDsrSp">{{ confObj.title }}
				<span v-if="confObj.unit !=='' ">{{ "(" + confObj.unit + ")" }}</span>
			</span>
			<div v-if="confObj.showParm" class="confTxtDiv">
				<input type="text" class="txtIpt" value="0">
			</div>
			<div v-if="confObj.showSelect" class="confSeltDiv">
				<form class="custom">
					<select class="confSlet expand">
						<option v-for="orderCfglist in confObj.selectList" v-bind:value="[ orderCfglist ]" >{{ orderCfglist }}</option>
					</select>
				</form>
			</div>
			<div v-if="confObj.showOn" class="confChkDiv">
				<input type="checkbox" class="confChk">
			</div>
		</div>
		<div class="confOrderCfmDiv confBtnDiv btnDiv">
			<span class="confOrderCfmBtn"><i class="fa fa-floppy-o" ></i> Save</span>
		</div>
		<div class="confDeleteAllDiv confBtnDiv btnDiv">
			<span class="confDeleteAllBtn"><i class="fa fa-trash"></i></span>
		</div>
	</div>
	<div class="confErrorSec confSec">
		<div class="confTypeIconDiv">
			<i class="fa fa-exclamation-triangle"></i>
		</div>
		<div class="confErrorDiv confDiv">
			<span class="confMsgSp">Testing Words</span>
		</div>
		<div class="confErrorCnlBtnDiv confBtnDiv btnDiv">
			<span class="confErrorCnlBtn"><i class="fa fa-times" ></i> Close</span>
		</div>
	</div>
	<div class="confAdvCfgSec confSec">
		<div class="confTypeDiv">
			<div class="confTypeIconDiv">
				<i class="fa fa-cogs"></i>
			</div>
			<div>
				<div class="confIconDiv">
					<i class="fa fa-files-o"></i>
				</div>
				<span class="confDsrSp">
					<span>Copy Account Setting To:</span>
				</span>
				<div class="confTxtDiv">
					<input type="text" class="txtIpt">
				</div>
			</div>
		</div>
		<div class="confAdvCfgCfmDiv confBtnDiv btnDiv">
			<span class="confCfmBtn"><i class="fa fa-floppy-o"></i> Save</span>
		</div>
	</div>
	<div class="panlSec">
		<div class="titleSec">
			<div class="panlReldNtcSec titleDiv">
				<div class="panlReldNtcDiv">
					<div class="panlReldLdDiv"></div>
					<span class="panlReldNtcSn panlReldSn">System was updated. The page will be reloaded in <span class="panlReldTimeSn"></span> second
					</span>
					<span class="panlReldWarnSn panlReldSn">System was updated. Please reload the Page.</span>
				</div>
			</div>
			<div class="panlPauseNtcSec titleDiv">
				<div class="panlPauseNtcDiv">
					<div class="panlPauseLdDiv"></div>
					<span class="panlPauseNtcSn panlPauseSn">Pause</span>
				</div>
			</div>
			<div class="panlStopNtcSec titleDiv">
				<div class="panlStopNtcDiv">
					<div class="panlStopLdDiv"></div>
					<span class="panlStopNtcSn">Stopping All</span>
				</div>
			</div>
			<div class="panlSwDiv">
				<label class="panlSwLbl swOnLbl">
					<input type="radio" class="swIpt" value="On">On
				</label>
				<label class="panlSwLbl swOffLbl panlSwChked">
					<input type="radio" class="swIpt" value="Off">Off
				</label>
				<label class="panlSwLbl swOffLbl panlSwChked swFlatLbl">
					<input type="radio" class="swIpt" value="Flat">Flat
				</label>
				<span class="panlSwBg"></span>
			</div>
			<div class="panlCfgDiv panlBtnDiv btnDiv">
				<span class="panlCfgBtn"><i class="fa fa-cog"></i></span>
			</div>
			<div class="panlMaxProfitDiv">
				<span class="panlMaxProfitSn">$0</span>
			</div>
			<div class="panlMode2Div panlBtnDiv btnDiv">
				<span class="panlMode2Btn"><i class="fa fa-th-large"></i></span>
			</div>
			<div class="panlGuarDiv panlBtnDiv btnDiv">
				<span class="panlGuarBtn"><i class="fa fa-shield"></i></span>
			</div>
			<div class="panlOrderDiv panlBtnDiv btnDiv">
				<span class="panlOrderBtn"><i class="fa fa-caret-square-o-down"></i></span>
			</div>
			<div class="panlFiveSecVolTableDiv panlBtnDiv btnDiv">
				<span class="panlTableBtn"><i class="fa fa-table"></i></span>
			</div>
			<div class="panlTickVolTableDiv panlBtnDiv btnDiv">
				<span class="panlTableBtn"><i class="fa fa-table"></i></span>
			</div>
			<div class="panlOrderCountTableDiv panlBtnDiv btnDiv">
				<span class="panlOrderCountBtn"><i class="fa fa-database"></i></span>
			</div>
		</div>
		<div class="currentOrderPanel">
			<div class="currentBidOrderSec currentOrderSec">
				<div class="currentOrderTitleDiv">Bid Order</div>
				<template v-for="( orderObj , orderIndex ) in getBidOrderAry">
					<div class="currentOrderDiv">
						<input class="currentOrderBidOrAskInput" type="hidden" v-bind:value="orderObj.bidOrAsk">
						<input class="currentOrderIdInput" type="hidden" v-bind:value="orderIndex">
						<input class="currentOrderMethodSecInput" type="hidden" v-bind:value="orderObj.methodSec">
						<table class="currentOrderTable">
							<tr>
								<td class="currentOrderDsrTd" rowspan="2">Update (Sec)</td>
								<td class="currentOrderParmTd" rowspan="2">
									<input class="currentOrderInput currentOrderUpdateInput" type="text" v-bind:value="orderObj.update" readonly>
								</td>
								<td class="currentOrderDsrTd" rowspan="3">Pips (Bid-)</td>
								<td class="currentOrderParmTd" rowspan="3">
									<input class="currentOrderInput currentOrderPipsInput" type="text" v-bind:value="orderObj.pips" readonly>
								</td>
								<td class="currentOrderSwitchBtn currentOrderBtnTd" rowspan="3">
									<div class="currentOrderBtnDiv currentOrderOnBtnDiv" v-if="orderObj.on" v-on:click="turnOffOrder( orderObj , orderIndex )">On</div>
									<div class="currentOrderBtnDiv currentOrderOffBtnDiv" v-else v-on:click="turnOnOrder( orderObj , orderIndex )">Off</div>
								</td>
							</tr>
							<tr>
							</tr>
							<tr>
								<td class="currentOrderDsrTd" rowspan="2">Replace (Sec)</td>
								<td class="currentOrderParmTd" rowspan="2">
									<input class="currentOrderInput currentOrderReplaceInput" type="text" v-bind:value="orderObj.replace" readonly>
								</td>
							</tr>
							<tr>
								<td class="currentOrderDsrTd" rowspan="3">Qty (Lots)</td>
								<td class="currentOrderParmTd" rowspan="3">
									<input class="currentOrderInput currentOrderQtyInput" type="text" v-bind:value="orderObj.qty" readonly>
								</td>
								<td class="currentOrderSaveBtn currentOrderBtnTd" rowspan="3"><div class="currentOrderBtnDiv">Save</div></td>
							</tr>
							<tr>
								<td class="currentOrderDsrTd" rowspan="2">Method</td>
								<td class="currentOrderParmTd" rowspan="2">
									<input class="currentOrderInput currentOrderMethodInput" type="text" v-bind:value="orderObj.method">
								</td>
							</tr>
							<tr>
							</tr>
						</table>
					</div>
				</template>
			</div>
			<div class="currentAskOrderSec currentOrderSec">
				<div class="currentOrderTitleDiv">Ask Order</div>
				<template v-for="( orderObj , orderIndex ) in getAskOrderAry">
					<div class="currentOrderDiv">
						<input class="currentOrderBidOrAskInput" type="hidden" v-bind:value="orderObj.bidOrAsk">
						<input class="currentOrderIdInput" type="hidden" v-bind:value="orderIndex">
						<input class="currentOrderMethodSecInput" type="hidden" v-bind:value="orderObj.methodSec">
						<table class="currentOrderTable">
							<tr>
								<td class="currentOrderSwitchBtn currentOrderBtnTd" rowspan="3">
									<div class="currentOrderBtnDiv currentOrderOnBtnDiv" v-if="orderObj.on" v-on:click="turnOffOrder( orderObj , orderIndex )">On</div>
									<div class="currentOrderBtnDiv currentOrderOffBtnDiv" v-else v-on:click="turnOnOrder( orderObj , orderIndex )">Off</div>
								</td>
								<td class="currentOrderDsrTd" rowspan="3">Pips (Ask+)</td>
								<td class="currentOrderParmTd" rowspan="3">
									<input class="currentOrderInput currentOrderPipsInput" type="text" v-bind:value="orderObj.pips" readonly>
								</td>
								<td class="currentOrderDsrTd" rowspan="2">Update (Sec)</td>
								<td class="currentOrderParmTd" rowspan="2">
									<input class="currentOrderInput currentOrderUpdateInput" type="text" v-bind:value="orderObj.update" readonly>
								</td>
							</tr>
							<tr>
							</tr>
							<tr>
								<td class="currentOrderDsrTd" rowspan="2">Replace (Sec)</td>
								<td class="currentOrderParmTd" rowspan="2">
									<input class="currentOrderInput currentOrderReplaceInput" type="text" v-bind:value="orderObj.replace" readonly>
								</td>
							</tr>
							<tr>
								<td class="currentOrderSaveBtn currentOrderBtnTd" rowspan="3"><div class="currentOrderBtnDiv">Save</div></td>
								<td class="currentOrderDsrTd" rowspan="3">Qty (Lots)</td>
								<td class="currentOrderParmTd" rowspan="3">
									<input class="currentOrderInput currentOrderQtyInput" type="text" v-bind:value="orderObj.qty" readonly>
								</td>
							</tr>
							<tr>
								<td class="currentOrderDsrTd" rowspan="2">Method</td>
								<td class="currentOrderParmTd" rowspan="2">
									<input class="currentOrderInput currentOrderMethodInput" type="text" v-bind:value="orderObj.method" readonly>
								</td>
							</tr>
							<tr>
							</tr>
						</table>
					</div>
				</template>
			</div>
		</div>
	</div>
</div>