#jPanelAlgo{
	height: inherit;
	user-select: none;
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;
	overflow: auto;
}
.btnDiv{
	transition: .4s;
	opacity: 0.5;
	cursor: pointer;
	text-align: center;
}
.btnDiv:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
	opacity: 1;
}
.dsrTxt{
	width: 75px;
	top: 17px;
	position: relative;
	opacity: 0.6;
}
.iptDiv{
	width: 60px;
	margin-top: 12px;
}
.txtIpt{
	text-align: center;
	background: #e1e1e1;
}
.disableCtrl{
	opacity: 0.2;
}
.confSec{
	z-index: 11;
	background: white;
	position: absolute;
	padding: 15px;
	border: solid;
	border-color: #e1e1e1;
	border-width: 1px;
	display: none;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}
.confSec .ui-resizable-s{
	height: 10px;
}
.confPanlSec{
	width: 450px;
	left: 70px;
	top: 61px;
}
.confAdvCfgSec{
	width: 500px;
	height: 120px;
	left: 500px;
	top: 61px;
}
.confSec .dsrSp{
	opacity: 0.8;
	float: right;
	position: relative;
	top: -5px;
	width: 50px;
	text-align: center;
}
.confTypeIconDiv{
	font-size: 200%;
	height: 20px;
}
.confDiv{
	display: inline-block;
	height: 40px;
	margin-left: 30px;
	width: 90%;
}
.confIconDiv{
	font-size: 130%;
	width: 40px;
	text-align: center;
	float: left;
}
.confDsrSp{
	width: 205px;
	top: 3px;
	position: relative;
	float: left;
}
.confTxtDiv{
	width: 50px;
	float: left;
	margin-left: 10px;
}
.confChkDiv{
	transform: scale(2.4);
	top: 9px;
	position: relative;
	float: right;
	margin-right: 20px;
}
.confOnChkDiv{
	transform: scale(2.4);
	position: absolute;
	right: 280px;
	margin-top: 9px;
}
.confPauseChkDiv{
	transform: scale(2.4);
	position: absolute;
	right: 230px;
	margin-top: 9px;
}
.confOffChkDiv{
	transform: scale(2.4);
	position: absolute;
	right: 180px;
	margin-top: 9px;
}
.confFlatChkDiv{
	transform: scale(2.4);
	position: absolute;
	right: 130px;
	margin-top: 9px;
}
.confFlatAllChkDiv{
	transform: scale(2.4);
	position: absolute;
	right: 80px;
	margin-top: 9px;
}
.confNoticeChkDiv{
	transform: scale(2.4);
	position: absolute;
	right: 30px;
	margin-top: 9px;
}
.confSeltDiv{
	position: absolute;
	right: 150px;
}
.confBtnDiv{
	width: 92px;
	height: 45px;
	line-height: 45px;
	background: #eaeaea;
	margin-top: 8px;
	margin-left: auto;
	margin-right: 20px;
}
.confReldDiv, .confReldAllDiv{
	bottom: 15px;
	right: 17px;
	display: none;
}
.confWarnIpt{
	box-shadow: 0 0 10px 2px red;
}
.confGuarSec{
	width: 740px;
	left: 70px;
	top: 61px;
}
.panlSec{
	display: flex;
	flex-flow: column wrap;
	width: 1420px;
	background: #fafafa;
	padding: 5px;
	min-height: 300px;
}
.titleSec{
	display: flex;
	height: 50px;
	padding-top: 7px;
}
.titleSec span,.titleSec label{
	line-height: 40px;
}
.titleDiv{
	color: white;
	height: 40px;
	position: absolute;
	margin: auto;
	padding: 0 10px 0 10px;
	display: none;
	top: 12px;
}
.title2Sec{
	display: flex;
	height: 50px;
	padding-top: 7px;
}

.panlReldNtcSec{
	background: #ee2b2b;
	left: 95px;
	z-index: 21;
}
.panlReldNtcDiv{
	display: flex;
}
.panlReldSn{
	font-size: 120%;
}
.panlReldWarnSn{
	display: none;
	text-align: center;
	width: 100%;
}
.panlReldLdDiv{
	border: 7px solid white;
	border-top: 7px solid #ee2b2b;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: panlReldSpin 2s linear infinite;
	margin: 5px;
	z-index: 5;
}
@keyframes panlReldSpin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.panlPauseNtcSec{
	background: #6d6d6d;
	left: 451px;
	z-index: 21;
	font-size: 140%;
}
.panlPauseNtcDiv{
	display: flex;
}
.panlPauseLdDiv{
	border: 7px solid white;
	border-top: 7px solid #4caf50;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: panlPauseSpin 5s linear infinite;
	margin-top: 5px;
	margin-right: 5px;
	z-index: 5;
}
@keyframes panlPauseSpin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.panlStopNtcSec{
	background: #ee2b2b;
	left: 838px;
}
.panlStopNtcDiv{
	display: flex;
}
.panlStopNtcSn{
	font-size: 120%;
}
.panlStopLdDiv{
	border: 4px solid white;
	border-top: 7px solid #ee2b2b;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: panlStopSpin 2s linear infinite;
	margin: 5px;
	z-index: 5;
	position: relative;
	left: -4px;
}
@keyframes panlStopSpin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.panlSwDiv{
	width: 240px;
	height: 40px;
	display: -webkit-box;
	text-align: center;
	position: absolute;
	left: 591px;
	background: #e2e2e2;
}
.panlSwDiv .swOffLbl{
	z-index: 10;
}
.swFlatLbl{
	border-left: solid;
	border-color: #fafafa;
}
.panlSwLbl{
	position: relative;
	z-index: 2;
	font-size: 140%;
	opacity: 0.8;
	text-align: center;
	cursor: pointer;
	transition: .4s;
	width: 33.33%;
	height: inherit;
}
.panlSwLbl:hover{
	opacity: 1;
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.panlSwBg{
	position: relative;
	z-index: 1;
	display: block;
	height: inherit;
	background: #6d6d6d;
	transition: 0.15s;
	width: 66.66%;
	left: -160px;
}
.panlSwChked{
	opacity: 1;
	color: white!important;
}
.panlSwChked.swOnLbl{
	background: #4caf50;
}
.panlBtnDiv{
	height: 40px;
	width: 40px;
	font-size: 200%;
	position: absolute;
	top: 11px;
	line-height: 42px!important;
}
.panlFiveSecVolTableDiv{
	left: 300px;
}
.panlTickVolTableDiv{
	left: 370px;
}
.panlOrderCountTableDiv{
	left: 440px;
}
.panlCfgDiv{
	left: 20px;
}
.panlGuarDiv{
	left: 90px;
}
.panlOrderDiv{
	left: 160px;
}
.panlStopDiv{
	position: relative;
	background: red!important;
	color: white;
	display: none;
}
.confGuarSec .confDsrSp{
	width: 250px;
}
.confChk{
	cursor: pointer;
}
.confFlatChk{
	cursor: pointer;
}
.confOnChk{
	cursor: pointer;
}
.rowBtnDiv{
	position: absolute;
	margin: 12px;
	font-size: 140%;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.rowDelDiv{
	left: 1342px;
}
.rowCfgDiv{
	margin-top: 62px;
}
.rowSprdDiv{
	/* display: none; */
}
.rowSortDiv{
	cursor: -webkit-grabbing!important;
	margin-top: 62px;
	left: 1342px;
}
.rowSortDiv:hover{
	box-shadow: none;
}
.rowInfSec{
	height: 100px;
	width: 185px;
	float: left;
	text-align: center;
	padding-top: 18px;
	margin-left: 15px;
}
.rowInfDiv{
	height: 37px;
}
.confEcnDiv, .confSymDiv{
	height: 50px;
	width: 200px;
	left: 20%;
	position: relative;
}
.trigLgtOnDiv{
	background: lime;
}
.macInfDiv{
	width: 120px;
}

.macInfDiv .iptDiv{
	width: 55px;
}
.dsrInfoTxt{
	top: 5px!important;
}
.infDiv{
	display: flex;
	height: 35px;
	width: 120px;
	top: -5px;
	position: relative;
}
.infDiv .txtIpt{
	background: inherit!important;
}
.swDiv{
	width: 60px;
	text-align: center;
	margin: 0px 15px 0 15px;
	position: relative;
	top: -6px;
}
.swDiv .swOffLbl{
	margin-top: 6px;
}
.macSwLbl{
	position: relative;
	z-index: 2;
	line-height: 40px;
	font-size: 125%;
	opacity: 0.3;
	text-align: center;
	cursor: pointer;
	transition: .4s;
	top: 20px;
}
.macSwLbl:hover{
	opacity: 1;
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.swOnNotice{
	box-shadow: 0 0 20px 10px red;
}
.swIpt{
	display: none;
}
.swChked{
	opacity: 1;
}
.swChked.swOffLbl{
	background: #e1e1e1;
}
.swChked.swOnLbl{
	background: #6d6d6d;
	color: white;
}
.swChked.swOnLbl.swMacOn{
	background: #4caf50;
}
#jPanelAlgo .selector{
	display: none;
}
.confOrderSec{
	width: 490px;
	left: 267px;
	top: 62px;
	height: 400px;
}
.confOrderSec .confSeltDiv{
	right: 20px;
}
.confOrderSltDiv{
	text-align: center;
}
.confOrderSn{
	float: left;
	padding-right: 20px;
	width: 190px;
	padding-left: 60px;
}
.confOrderCfmDiv{
	position: relative;
}
.confDeleteAllDiv{
	position: relative;
	display: none;
}
.panlMaxProfitDiv{
	width: 90px;
	height: 40px;
	text-align: center;
	background: #4caf50;
	color: white;
	left: 1072px;
	position: absolute;
	font-size: 120%;
	display: none;
	cursor: pointer;
	box-shadow: 0 0 0px 3px #c62828;
}
.cfmCvr{
	width: 100%;
	height: 100%;
	position: absolute;
	background: black;
	z-index: 20;
	opacity: 0.3;
	display: none;
}
.cfmSec{
	text-align: center;
	z-index: 21;
}
.cfmBtn{
	display: flex;
	width: 240px;
	position: relative;
	left: 60px;
	top: 10px;
}
.cfmBtnDiv{
	width: 90px;
	height: 45px;
	line-height: 45px;
	margin: 0 10px;
	background: #eaeaea;
}
.cfmOnAlgoDiv{
	left: 520px;
	top: 60px;
	height: 150px;
	width: 370px;
	padding: 20px;
	text-align: center;
}
.cfmOnCnlBtn{
	box-shadow: 0px 0px 0px 0.4px black inset;
	opacity: 1;
}
.panlReldCvr{
	display: none;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.3;
	z-index: 20;
	position: absolute;
}
.confErrorSec{
	width: 470px;
	left: 867px;
	top: 62px;
}
.confErrorDiv{
	text-align: center;
}
.confMsgSp{
	margin-left: 10px;
	font-weight: bold;
	font-size: 110%;
}
.fontColorNotice{
	color: red;
}
.bgColorNotice{
	background: red;
	color: white;
}
.confSeltDiv .selector {
	display: block!important;
}
.infoDiv{
	opacity: 0.25;
	margin-left: 70px;
	position: absolute;
	margin-top: 21px;
}
#userInfoIcon{
	display: none;
}
.confGuardWarn{
	color: red;
	font-weight: bold;
}
.secBtnDiv{
	position: absolute;
	width: 30px;
	height: 30px;
	line-height: 30px;
	right: 10px;
}
.fiveSecVolTableDiv{
	left: 600px;
}
.tickVolTableDiv{
	left: 1100px;
}
.orderCountTableDiv{
	left: 500px;
}
.jPanelTable{
	top: 100px;
}
.jPanelTable td{
	text-align: center;
	color: inherit;
}
.volMsgTable{
	border-spacing: 0;
}
.tableTdUp{
	background: #009688;
	color: #b2dfdb!important;
}
.tableTdUp.tableLvl1Td{
	background: #007a6e;
}
.tableTdUp.tableLvl2Td{
	background: #005950;
}
.tableTdUp.tableLvl3Td{
	background: #01302b;
}
.tableTdDown{
	background: #d32f2f;
	color: #f2c0c0!important;
}
.tableTdDown.tableLvl1Td{
	background: #c21d1d;
}
.tableTdDown.tableLvl2Td{
	background: #ad1010;
}
.tableTdDown.tableLvl3Td{
	background: #8a0000;
}
.tableTdFlat.tableLvl1Td{
	background: #dfdfdf;
}
.tableTdFlat.tableLvl2Td{
	background: #cccccc;
}
.tableTdFlat.tableLvl3Td{
	background: #a9a9a9;
}
.confOrderTypeDiv{
	display: none;
}
.panlMode2Div{
	left: 230px;
}
.confMode2Sec{
	right: 10%;
	top: 15%;
	height: auto;
	width: auto;
	display: none;
	font-family: 'Roboto Condensed', sans-serif;
}
.confMode2Sec table{
	margin: 0px;
}
.cfgModeTableDiv td{
	text-align: center;
	vertical-align: inherit;
	padding: 0px;
	height: 35px;
	width: 30px;
	color: inherit;
	border-color: #6d6d6d;
	border-width: 0.5px;
	box-shadow: inset 0 0 0px 0.1px black;
	max-width: 30px;
	overflow: hidden;
}
.modeShiftDiv{
	position: relative;
}
.modeLeftDiv{
	float: left;
}
.modeRightDiv{
	float: right;
}
.modeEmptyGrid{
	box-shadow: none!important;
}
.modeCoolDownGrid{
	box-shadow: none!important;
	color: red!important;
}
.modeBtn{
	cursor: pointer;
}
.modeBtn:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
	opacity: 1;
}
.modeCfgDiv{
	width: auto;
	z-index: 12;
	background: white;
	position: absolute;
	padding: 15px;
	border: solid;
	border-color: #e1e1e1;
	border-width: 1px;
	text-align: center;
	left: 580px;
	top: 37px;
}
.modePanelCfgDiv{
	display: flex;
	height: 500px;
	overflow: scroll;
}
.modeCauseCfgDiv{
	width: 450px;
}
.modeCauseCfgTable,.modeCausePropTable{
	width: 100%;
}
.modeCauseCfgTable td,.modeCausePropTable td{
	text-align: center;
}
.modeCausePropTable td{
	width: 50%;
}
.modeCauseCfgTable th{
	width: 25%;
}
.modeCfgDiv input{
	width: 99%;
	background: #e2e2e2!important;
	height: 20px!important;
	text-align: center;
	margin: 0px;
}
.modeCfgDiv td{
	text-align: center;
}
.modeCauseDirectionTd{
	font-size: 130%;
	opacity: 0.3;
}
.cfgModeTableDiv{
	display: flex;
}
.modeDragDiv{
	width: 170px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0;
	box-shadow: black 0 0 2px 0px;
	opacity: 0.3;
}
.modeDragCaseDiv{
	cursor: -webkit-grab;
	opacity: 1;
}
.modeDragTypeDiv{
	float: left;
	margin: 0 10px;
	width: 190px;
	box-shadow: #7e7d7d 0 0 1px 0px;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.modeDragDiv .modeTooltipSn{
	visibility: hidden;
	min-width: 20px;
	background-color: rgb(109, 109, 109);
	color: #fff;
	text-align: center;
	border-radius: 20px;
	padding: 5px 0;
	position: relative;
	/* z-index: 100; */
	top: 10px;
	left: 0px;
}
.modeDragDiv:hover .modeTooltipSn {
	visibility: visible;
}
.modePlaceHolder{
	height: 30px;
	background: #6ff77740;
}
.modeTypeTitle{
	opacity: 1;
	background: #e2e2e2;
}
.modeChk{
	-webkit-transform: scale(1.2);
}
.modeOrderCfgDiv{
	box-shadow: #5d5d5d 0 0 1px 0;
	margin: 10px;
	padding: 10px;
	min-width: 530px;
	min-height: 300px;
}
.modeOrderTable{
	margin: 0px;
	box-shadow: #555454 0 0 1px 0;
	padding: 5px;
}
.modeOrderTable td{
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}
.modeOrderDsrTd{
	width: 110px;
}
.modeOrderParmTd{
	width: 110px;
}
.modeOrderEmptyTd{
	width: 0px;
}
.modeOrderRemoveTd{
	width: 30px;
	font-size: 150%;
	opacity: 0.6;
}
.modeOrderDiv{
	margin: 13px;
}
.modeOrderCfgSec input{
	height: 30px!important;
	width: 90%;
}
.modeAddOrderBtn{
	width: 40px;
	height: 30px;
	line-height: 30px;
	font-size: 150%;
	right: 19px;
	position: relative;
	float: right;
}
.modeSideOrderCfgDiv{
	display: flex;
}
.modeOrderCfgTitleDiv{
	font-size: 110%;
}
.modeSubmitOrderParmBtn{
	width: 100px;
	margin-left: 45%;
}
.modeHiddenGrid{
	height: 0px!important;
}
.currentOrderPanel{
	display: flex;
	padding-top: 20px;
}
.currentOrderSec{
	width: 50%;
}
.currentOrderDiv{
	padding: 10px;
}
.currentOrderTitleDiv{
	text-align: center;
	text-decoration: underline;
}
.currentOrderTable{
	margin: 0px;
	padding: 5px;
	background: white;
}
.currentOrderTable td{
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	color: inherit;
}
.currentOrderDsrTd{
	width: 20%;
	opacity: 0.7;
}
.currentOrderParmTd{
	width: 20%;
}
.currentOrderEmptyTd{
	width: 0px;
}
.currentOrderTable input{
	background: #e9e9e9;
	text-align: center;
}
.currentOrderBtnDiv{
	width: 60%;
	background: #e9e9e9;
	margin-left: auto;
	margin-right: auto;
	line-height: 33px;
	cursor: pointer;
}
.currentOrderBtnDiv:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
}
.currentOrderOnBtnDiv{
	background: #4caf50;
	color: white;
}
.currentOrderOffBtnDiv{
	background: #6d6d6d;
	color: white;
}
.modePanelSwBtn{
	background: #e2e2e2;
}
.modePanelSwOnBtn{
	background: #4caf50;
	color: white!important;
}
.modePanelSwOffBtn{
	background: #6d6d6d;
	color: white!important;
}
.modeControlSwBtn{
	background: #e2e2e2;
}
.modeControlEnableBtn{
	background: #6d6d6d;
	color: white!important;
}
.modeControlEnableBtn.modeControlOnBtn{
	background: #4caf50;
}
.modeSaveBtnDiv{
	width: 80px;
	height: 30px;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	background: #e2e2e2;
}
.modeActionCfgSec table{
	width: 350px;
}
.modeActionCfgSec td{
	width: 44%;
}
.modeActionChkTd{
	width: 12%!important;
}
.modeCauseGrid{
	opacity: 0.2;
	background: #e2e2e2;
}
.modeEnabledGrid{
	opacity: 0.4;
}
.modeEnabledGrid.modeActivedGrid{
	opacity: 0.6;
}
.modeEnabledGrid.modeActivedGrid.modeSelectedGrid{
	opacity: 0.8;
	background: #6d6d6d;
	color: white!important;
}
.modeCauseGrid.modeShiftGrid.modeSelectedGrid.modeEnabledGrid.modeOnGrid.modeActivedGrid{
	background: #3b809b;
}
.modeCauseGrid.modeSpreadGrid.modeSelectedGrid.modeEnabledGrid.modeOnGrid.modeActivedGrid{
	background: #3b809b;
}
.modeCauseGrid.modeSpreadGrid.modeSelectedGrid.modeEnabledGrid.modeOnGrid.modeActivedGrid.modePriorityGrid{
	background: #0e9ed7;
}
.modeCauseGrid.modeBtn.modeEnabledGrid.modeActivedGrid.modeShiftGrid{
	cursor: col-resize;
}
.modeCauseGrid.modeBtn.modeEnabledGrid.modeActivedGrid.modeSpreadGrid{
	cursor: row-resize;
}
.modeCauseGrid.modeBtn.modeEnabledGrid.modeActivedGrid.modeShiftGrid,.modeCauseGrid.modeBtn.modeEnabledGrid.modeActivedGrid.modeSpreadGrid{
	opacity: 1;
	box-shadow: inset 0 0 1px 1px #b2b2b2;
}
.modeMatrixGrid.modeMacroShift.modeMacroSpread.modeOnGrid.modeMatrixBidGrid{
	background: #4460b2;
}
.modeMatrixGrid.modeMacroShift.modeMacroSpread.modeOnGrid.modeMatrixAskGrid{
	background: #e15252;
}
.modeCauseSwitchGrid{
	opacity: 0.6;
}
.modeCauseSwitchGrid.modeEnabledGrid{
	opacity: 0.8;
	background: #6d6d6d;
	color: white!important;
}
.modeCauseSwitchGrid.modeEnabledGrid.modeActivedGrid.modeOnGrid{
	opacity: 1;
	background: #4caf50;
}
.modeNoneDiv .modeCauseSwitchGrid.modeEnabledGrid.modeActivedGrid.modeOnGrid{
	background: #6d6d6d!important;
}
.modeCauseGrid.modeSelectedGrid{
	background: #6d6d6d;
	color: white!important;
}
.modeNoticeGrid{
	text-decoration: underline;
}
.modePriorityGrid{
	background: #8a8a8a;
}
.modePriorityGrid.modeOnGrid{
	background: #a0c3c6;
}
.modePointerGrid{
	opacity: 0.6;
	background: #8e8e8e;
}
.modePointerGrid.modeShiftGrid.modeOnGrid{
	background: #74b5ce;
}
.modePointerGrid.modeSpreadGrid.modeOnGrid{
	background: #74b5ce;
}
.modePointerGrid.modeSelectedGrid{
	opacity: 0.8;
	background: #6d6d6d;
	color: white!important;
}
.modePointerGrid.modeSelectedGrid.modeOnGrid{
	opacity: 1;
	color: white!important;
}
.modePointerGrid.modeShiftGrid.modeSelectedGrid.modeOnGrid{
	background: #3b809b;
}
.modePointerGrid.modeSpreadGrid.modeSelectedGrid.modeOnGrid{
	background: #3b809b;
}
.modeMatrixGrid{
	opacity: 0.4;
	background: #e2e2e2;
	border-bottom: solid 0.1px;
	border-top: solid 0.1px;
}
.modeMatrixBidGrid{
	border-left: solid 0.1px;
}
.modeMatrixAskGrid{
	border-right: solid 0.1px;
}
.modeActionGrid{
	background: #8a8a8a;
}
.modeActionGrid.modeOnGrid {
	background: #a0c3c6;
}
.modeMacroSpread,.modeMacroShift{
	opacity: 0.6;
	background: #6d6d6d;
	color: white!important;
}
.modeMacroSpread.modeMacroShift{
	opacity: 1;
}
.modeMacroSpread.modeOnGrid,.modeMacroShift.modeOnGrid{
	background: #3b809b;
}
.modeMacroSpread.modeMacroShift.modeOnGrid{
	background: #4caf50;
}
.modeCfgGrid{
	opacity: 1;
	box-shadow: inset 0 0px 0px 0.5px black!important;
}
.modeChartSec{
	width: 800px;
	height: 600px;
	display: none;
	overflow: hidden;
}
.hideChartSecBtn{
	width: 50px;
	height: 35px;
	line-height: 35px;
	font-size: 120%;
	position: absolute;
	z-index: 2;
	right: 20px;
}
.night-mode .panlSec{
	background: inherit;
}
.night-mode .txtIpt{
	background: #7a7a7a;
}
.night-mode .swChked.swOffLbl{
	background: #7a7a7a;
}
.night-mode .panlSwDiv{
	background: #7a7a7a;
}
.night-mode .panlSwDiv{
	background: #7a7a7a;
}
.night-mode .confSec{
	background: #212121;
}
.night-mode .confBtnDiv{
	background: #303030;
}
.night-mode .swFlatLbl{
	border-color: #212121;
}
.night-mode .modePanelSwBtn{
	background: #7a7a7a;
}
.night-mode .currentOrderTable{
	background: #5e5e5e;
}
.night-mode .currentOrderTable input{
	background: #808080;
}