<div class="confMode2Sec confSec">
	<div class="confTypeIconDiv">
		<i class="fa fa-th-large"></i>
	</div>
	<div class="cfgModeTableDiv">
		<div class="modeLeftDiv">
			<div class="modeMatrixDiv" v-on:click="clickModeTable( $event )">
				<table>
					<tbody>
						<tr>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<template v-for="( shiftObj , shiftIndex ) in axisNumObj[ 'ShiftNum' ]">
								<td class="modePanelSwBtn modeBtn" v-bind:class="{ modePanelSwOnBtn: statusObj.on }" colspan="2" v-if="getCausePos( shiftIndex , 'Shift' ) === -1" v-on:click="clickPanelControlBtn('On')">On</td>
								<td class="modePanelSwBtn modeBtn" v-bind:class="{ modePanelSwOffBtn: !statusObj.on }" colspan="2" v-else-if="getCausePos( shiftIndex , 'Shift' ) === 0" v-on:click="clickPanelControlBtn('Off')">Off</td>
								<td class="modePanelSwBtn modeBtn" v-bind:class="{ modePanelSwOffBtn: !statusObj.on }" colspan="2" v-else-if="getCausePos( shiftIndex , 'Shift' ) === 1" v-on:click="clickPanelControlBtn('Flat')">Flat</td>
								<td class="modeEmptyGrid" colspan="2" v-else></td>
							</template>
							<td class="modeHidePanelBtn modeBtn" colspan="2" v-on:click="clickHidePanelBtn"><i class="fa fa-times"></i></td>
						</tr>
						<tr>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid" colspan="2" v-for="( shiftObj , shiftIndex ) in axisNumObj[ 'ShiftNum' ]">
							</td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
						</tr>
						<tr>
							<td class="modeTitleGrid" colspan="2">Bid</td>
							<td class="modeTitleGrid" colspan="2">Ask</td>
							<td class="modePanelCfgBtn modeBtn" colspan="2"><i class="fa fa-archive"></i></td>
							<td class="modeActionCfgBtn modeBtn" colspan="2" v-for="( shiftObj , shiftIndex ) in axisNumObj[ 'ShiftNum' ]" v-on:click="clickActionCfgBtn( 'Shift' , getCausePos( shiftIndex , 'Shift' ) )"><i class="fa fa-cog"></i>
							</td>
							<td class="modeShowCauseBtn modeBtn" colspan="2" v-on:click="clickShowCauseGrid" v-if="hideCause"><i class="fa fa-angle-double-right"></i>
							</td>
							<td class="modeHideCauseBtn modeBtn" colspan="2" v-on:click="clickHideCauseGrid" v-else><i class="fa fa-angle-double-left"></i>
							</td>
						</tr>
						<tr v-for="( spreadObj , spreadIndex ) in axisNumObj[ 'SpreadNum' ]">
							<template v-if="spreadIndex===0">
								<td class="modeControlSwBtn modeBtn" colspan="2" v-bind:class="[{ modeControlEnableBtn: statusObj.bidOn } , { modeControlOnBtn: statusObj.on }]" v-on:click="clickModeSwitchBtn( 'bid','On' )" v-if="statusObj.bidOn">On</td>
								<td class="modeControlSwBtn modeBtn" colspan="2" v-bind:class="[{ modeControlEnableBtn: statusObj.bidOn } , { modeControlOnBtn: statusObj.on }]" v-on:click="clickModeSwitchBtn( 'bid','On' )" v-else>Off</td>
							</template>
							<template v-else-if="spreadIndex===1">
								<td class="modeControlSwBtn modeBtn" colspan="2" v-bind:class="[{ modeControlEnableBtn: statusObj.bidAuto } , { modeControlOnBtn: statusObj.on }]" v-on:click="clickModeSwitchBtn( 'bid','Auto' )" v-if="statusObj.bidAuto">Auto</td>
								<td class="modeControlSwBtn modeBtn" colspan="2" v-bind:class="[{ modeControlEnableBtn: statusObj.bidAuto } , { modeControlOnBtn: statusObj.on }]" v-on:click="clickModeSwitchBtn( 'bid','Auto' )" v-else>Manual</td>
							</template>
							<template v-else>
								<td class="modeEmptyGrid" colspan="2"></td>
							</template>
							<template v-if="spreadIndex===0">
								<td class="modeControlSwBtn modeBtn" colspan="2" v-bind:class="[{ modeControlEnableBtn: statusObj.askOn } , { modeControlOnBtn: statusObj.on }]" v-on:click="clickModeSwitchBtn( 'ask','On' )" v-if="statusObj.askOn">On</td>
								<td class="modeControlSwBtn modeBtn" colspan="2" v-bind:class="[{ modeControlEnableBtn: statusObj.askOn } , { modeControlOnBtn: statusObj.on }]" v-on:click="clickModeSwitchBtn( 'ask','On' )" v-else>Off</td>
							</template>
							<template v-else-if="spreadIndex===1">
								<td class="modeControlSwBtn modeBtn" colspan="2" v-bind:class="[{ modeControlEnableBtn: statusObj.askAuto } , { modeControlOnBtn: statusObj.on }]" v-on:click="clickModeSwitchBtn( 'ask','Auto' )" v-if="statusObj.askAuto">Auto</td>
								<td class="modeControlSwBtn modeBtn" colspan="2" v-bind:class="[{ modeControlEnableBtn: statusObj.askAuto } , { modeControlOnBtn: statusObj.on }]" v-on:click="clickModeSwitchBtn( 'ask','Auto' )" v-else>Manual</td>
							</template>
							<template v-else>
								<td class="modeEmptyGrid" colspan="2"></td>
							</template>
							<td class="modeActionCfgBtn modeBtn" colspan="2" v-on:click="clickActionCfgBtn( 'Spread' , getCausePos( spreadIndex , 'Spread' ) )"><i class="fa fa-cog"></i>
							</td>
							<template v-for="( shiftObj , shiftIndex ) in axisNumObj[ 'ShiftNum' ]">
								<td v-bind:class="getMatrixGridClass( getCausePos( shiftIndex , 'Shift' ) , getCausePos( spreadIndex , 'Spread' ) , 'bid' )" v-on:click="clickMatrixGrid(  getCausePos( shiftIndex , 'Shift' ) , getCausePos( spreadIndex , 'Spread' ))">
									{{ getOrderPip( getCausePos( shiftIndex , 'Shift' ) , getCausePos( spreadIndex , "Spread" ) , 'bid' ) }}
								</td>
								<td v-bind:class="getMatrixGridClass( getCausePos( shiftIndex , 'Shift' ) , getCausePos( spreadIndex , 'Spread' ) , 'ask' )" v-on:click="clickMatrixGrid(  getCausePos( shiftIndex , 'Shift' ) , getCausePos( spreadIndex , 'Spread' ))">
									<!-- {{ getCausePos( shiftIndex , 'Shift' ) }} -->
									{{ getOrderPip( getCausePos( shiftIndex , 'Shift' ) , getCausePos( spreadIndex , "Spread" ) , 'ask' ) }}
								</td>
							</template>
							<td class="modeCoolDownGrid" v-bind:id="getCoolDownGridId( getCausePos( spreadIndex , 'Spread' ) , 'Spread' )" colspan="2"></td>
						</tr>
						<tr>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<template v-for="( shiftObj , shiftIndex ) in axisNumObj[ 'ShiftNum' ]">
								<td class="modeCoolDownGrid" v-bind:id="getCoolDownGridId( getCausePos( shiftIndex , 'Shift' ) , 'Shift' )" colspan="2"></td>
							</template>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modeShiftDiv" v-on:click="clickModeTable( $event )" v-if="show">
				<table>
					<tbody>
						<tr>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeAxisBtn modeBtn" colspan="2" v-on:click="clickReduceAxisNum"><i class="fa fa-minus"></i></td>
							<template v-for="( shiftObj , shiftIndex ) in axisNumObj[ 'ShiftNum' ]">
								<td v-bind:class="getPointerGridClass( getCausePos( shiftIndex ) , 'bid' )"></td>
								<td v-bind:class="getPointerGridClass( getCausePos( shiftIndex ) , 'ask' )">
									{{ getCausePos( shiftIndex ) }}
								</td>
							</template>
							<td class="modeAxisBtn modeBtn" colspan="2" v-on:click="clickAddAxisNum"><i class="fa fa-plus"></i></td>
						</tr>
						<template v-for="causeObj in sortedCause" v-if="causeObj.axis==='Shift'">
							<tr>
								<td class="modeTitleGrid" colspan="2">{{ causeObj.title }}</td>
								<template v-if="causeObj.twoStatus">
									<td class="modeCauseStatus modeBtn" v-on:click="openDataChart( causeObj )" v-on:dblclick="clearCauseStatus( causeObj )">
										{{ causeObj.bidStatus }}
									</td>
									<td class="modeCauseStatus modeBtn" v-on:click="openDataChart( causeObj )" v-on:dblclick="clearCauseStatus( causeObj )">
										{{ causeObj.askStatus }}
									</td>
								</template>
								<template v-else>
									<td class="modeCauseStatus modeBtn" colspan="2" v-on:click="openDataChart( causeObj )" v-on:dblclick="clearCauseStatus( causeObj )">
										{{ causeObj.bidStatus }}
									</td>
								</template>
								<td colspan="2" v-bind:class="getCauseSwitchClass( causeObj )" v-on:click="clickCauseSwitch( causeObj )" v-if="causeObj.on">On</td>
								<td colspan="2" v-bind:class="getCauseSwitchClass( causeObj )" v-on:click="clickCauseSwitch( causeObj )" v-else>Off</td>
								<template v-for="( shiftObj , shiftIndex ) in axisNumObj[ 'ShiftNum' ]">
									<td v-bind:class="getCauseGridClass( getCausePos( shiftIndex ) , 'bid' , causeObj )" v-on:click="clickCauseGrid( causeObj , getCausePos( shiftIndex ) , 'bid' )" v-on:dblclick="clickCauseGrid( causeObj , getCausePos( shiftIndex ) , 'both' )"></td>
									<td v-bind:class="getCauseGridClass( getCausePos( shiftIndex ) , 'ask' , causeObj )" v-on:click="clickCauseGrid( causeObj , getCausePos( shiftIndex ) , 'ask' )" v-on:dblclick="clickCauseGrid( causeObj , getCausePos( shiftIndex ) , 'both' )">
										{{ getCauseParm( getCausePos( shiftIndex ) , causeObj ) }}
									</td>
								</template>
								<td class="modeCauseCfgBtn modeBtn" colspan="2" v-on:click="clickCauseCfg( causeObj )" v-if="causeObj.title!=='Manual Adject'">
									<i class="fa fa-cog"></i>
								</td>
								<td v-else colspan="2"></td>
							</tr>
						</template>
						<tr>
							<td class="modeEmptyGrid modeHiddenGrid"></td>
							<td class="modeEmptyGrid modeHiddenGrid"></td>
							<td class="modeEmptyGrid modeHiddenGrid"></td>
							<td class="modeEmptyGrid modeHiddenGrid"></td>
							<td class="modeEmptyGrid modeHiddenGrid"></td>
							<td class="modeEmptyGrid modeHiddenGrid"></td>
							<template v-for="( shiftObj , shiftIndex ) in axisNumObj[ 'ShiftNum' ]">
								<td class="modeEmptyGrid modeHiddenGrid"></td>
								<td class="modeEmptyGrid modeHiddenGrid"></td>
							</template>
							<td class="modeEmptyGrid modeHiddenGrid"></td>
							<td class="modeEmptyGrid modeHiddenGrid"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modeRightDiv">
			<div class="modeSpreadDiv" v-on:click="clickModeTable( $event )" v-if="show">
				<table>
					<tbody>
						<tr>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeTitleGrid" colspan="2" v-for="causeObj in sortedCause" v-if="causeObj.axis==='Spread'">
								{{ causeObj.title }}
							</td>
						</tr>
						<tr>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<template v-for="causeObj in sortedCause" v-if="causeObj.axis==='Spread'">
								<template v-if="causeObj.twoStatus">
									<td class="modeCauseStatus modeBtn" v-on:click="openDataChart( causeObj )" v-on:dblclick="clearCauseStatus( causeObj )">
										{{ causeObj.bidStatus }}
									</td>
									<td class="modeCauseStatus modeBtn" v-on:click="openDataChart( causeObj )" v-on:dblclick="clearCauseStatus( causeObj )">
										{{ causeObj.askStatus }}
									</td>
								</template>
								<template v-else>
									<td class="modeCauseStatus modeBtn" colspan="2" v-on:click="openDataChart( causeObj )" v-on:dblclick="clearCauseStatus( causeObj )">
										{{ causeObj.bidStatus }}
									</td>
								</template>
							</template>
						</tr>
						<tr>
							<td class="modeAxisBtn modeBtn" colspan="2" v-on:click="clickReduceAxisNum"><i class="fa fa-minus"></i></td>
							<template v-for="causeObj in sortedCause" v-if="causeObj.axis==='Spread'">
								<td colspan="2" v-bind:class="getCauseSwitchClass( causeObj )" v-on:click="clickCauseSwitch( causeObj )" v-on:click="clickCauseSwitch( causeObj )" v-if="causeObj.on">On</td>
								<td colspan="2" v-bind:class="getCauseSwitchClass( causeObj )" v-on:click="clickCauseSwitch( causeObj )" v-else>Off</td>
							</template>
						</tr>
						<template v-for="( spreadObj , spreadIndex ) in axisNumObj[ 'SpreadNum' ] ">
							<tr>
								<td v-bind:class="getPointerGridClass( getCausePos( spreadIndex ) , 'bid' )">
									{{ getCausePos( spreadIndex ) }}
								</td>
								<td v-bind:class="getPointerGridClass( getCausePos( spreadIndex ) , 'ask' )"></td>
								<template v-for="causeObj in sortedCause" v-if="causeObj.axis==='Spread'">
									<td v-bind:class="getCauseGridClass( getCausePos( spreadIndex ) , 'bid' , causeObj )" v-on:click="clickCauseGrid( causeObj , getCausePos( spreadIndex ) , 'bid' )" v-on:dblclick="clickCauseGrid( causeObj , getCausePos( spreadIndex ) , 'both' )">
									{{ getCauseParm( getCausePos( spreadIndex ) , causeObj ) }}
									</td>
									<td v-bind:class="getCauseGridClass( getCausePos( spreadIndex ) , 'ask' , causeObj )" v-on:click="clickCauseGrid( causeObj , getCausePos( spreadIndex ) , 'ask' )" v-on:dblclick="clickCauseGrid( causeObj , getCausePos( spreadIndex ) , 'both' )"></td>
								</template>
							</tr>
						</template>
						<tr>
							<td class="modeAxisBtn modeBtn" colspan="2" v-on:click="clickAddAxisNum"><i class="fa fa-plus"></i></td>
							<template v-for="causeObj in sortedCause" v-if="causeObj.axis==='Spread'">
								<td class="modeCauseCfgBtn modeBtn" colspan="2" v-on:click="clickCauseCfg( causeObj )" v-if="causeObj.title!=='Manual Adject'">
									<i class="fa fa-cog"></i>
								</td>
								<td v-else colspan="2"></td>
							</template>
						</tr>
						<tr v-for="causeObj in causeAry" v-if="causeObj.axis==='Shift'">
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid" colspan="2" v-for="causeObj in causeAry" v-if="causeObj.axis==='Spread'"></td>
						</tr>
						<tr>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid"></td>
							<td class="modeEmptyGrid" colspan="2" v-for="causeObj in causeAry" v-if="causeObj.axis==='Spread'"></td>
						</tr>
						<tr>
							<td class="modeEmptyGrid modeHiddenGrid"></td>
							<td class="modeEmptyGrid modeHiddenGrid"></td>
							<td class="modeEmptyGrid modeHiddenGrid" colspan="2" v-for="causeObj in causeAry" v-if="causeObj.axis==='Spread'"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modeNoneSec">
			<div class="modeNoneDiv" v-on:click="clickModeTable( $event )" v-if="show">
				<table>
					<tbody>
						<tr>
							<td class="modeTitleGrid" colspan="2" v-for="causeObj in sortedCause" v-if="causeObj.axis==='None'">
								{{ causeObj.title }}
							</td>
						</tr>
						<tr>
							<template v-for="causeObj in sortedCause" v-if="causeObj.axis==='None'">
								<template v-if="causeObj.twoStatus">
									<td class="modeCauseStatus modeBtn" v-on:click="openDataChart( causeObj )" v-on:dblclick="clearCauseStatus( causeObj )">
										{{ causeObj.bidStatus }}
									</td>
									<td class="modeCauseStatus modeBtn" v-on:click="openDataChart( causeObj )" v-on:dblclick="clearCauseStatus( causeObj )">
										{{ causeObj.askStatus }}
									</td>
								</template>
								<template v-else>
									<td class="modeCauseStatus modeBtn" v-on:click="openDataChart( causeObj )" colspan="2" v-on:dblclick="clearCauseStatus( causeObj )">
										{{ causeObj.bidStatus }}
									</td>
								</template>
							</template>
						</tr>
						<tr>
							<template v-for="causeObj in sortedCause" v-if="causeObj.axis==='None'">
								<td colspan="2" v-bind:class="getCauseSwitchClass( causeObj )" v-on:click="clickCauseSwitch( causeObj )" v-on:click="clickCauseSwitch( causeObj )" v-if="causeObj.on">On</td>
								<td colspan="2" v-bind:class="getCauseSwitchClass( causeObj )" v-on:click="clickCauseSwitch( causeObj )" v-else>Off</td>
							</template>
						</tr>
						<template v-for="( spreadObj , spreadIndex ) in axisNumObj[ 'SpreadNum' ] ">
							<tr>
								<template v-for="causeObj in sortedCause" v-if="causeObj.axis==='None'">
									<td v-bind:class="getCauseGridClass( getCausePos( spreadIndex ) , 'bid' , causeObj )">{{ getCausePos( spreadIndex ) }}
									</td>
									<td v-bind:class="getCauseGridClass( getCausePos( spreadIndex ) , 'ask' , causeObj )"></td>
								</template>
							</tr>
						</template>
						<tr>
							<template v-for="causeObj in sortedCause" v-if="causeObj.axis==='None'">
								<td class="modeCauseCfgBtn modeBtn" colspan="2" v-on:click="clickCauseCfg( causeObj )">
									<i class="fa fa-cog"></i>
								</td>
							</template>
						</tr>
						<tr v-for="causeObj in causeAry" v-if="causeObj.axis==='Shift'">
							<td class="modeEmptyGrid" colspan="2" v-for="causeObj in causeAry" v-if="causeObj.axis==='None'"></td>
						</tr>
						<tr>
							<td class="modeEmptyGrid" colspan="2" v-for="causeObj in causeAry" v-if="causeObj.axis==='None'"></td>
						</tr>
						<tr>
							<td class="modeEmptyGrid modeHiddenGrid" colspan="2" v-for="causeObj in causeAry" v-if="causeObj.axis==='None'"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="modeCfgDiv modeCauseCfgDiv" v-if="show">
		<span class="modeCauseCfgTitleSp">{{ causeObj.title }}</span>
		<table class="modeCausePropTable">
			<tr v-if="causeObj.propName1!==''">
				<td class="modeCausePropTdDsr">{{ causeObj.propName1 }}: </td>
				<td class="modeCausePropTdParm"><input type="text" class="modeCausePropParm" id="modeCausePropParm_1" v-bind:value="causeObj.propParm1"></td>
			</tr>
			<tr v-if="causeObj.propName2!==''">
				<td class="modeCausePropTdDsr">{{ causeObj.propName2 }}: </td>
				<td class="modeCausePropTdParm"><input type="text" class="modeCausePropParm" id="modeCausePropParm_2" v-bind:value="causeObj.propParm2"></td>
			</tr>
			<tr v-if="causeObj.propName3!==''">
				<td class="modeCausePropTdDsr">{{ causeObj.propName3 }}: </td>
				<td class="modeCausePropTdParm"><input type="text" class="modeCausePropParm" id="modeCausePropParm_3" v-bind:value="causeObj.propParm3"></td>
			</tr>
		</table>
		<table class="modeCauseCfgTable">
			<tbody>
				<tr>
					<th></th>
					<th>Parameter</th>
					<th>Notice</th>
					<th>Priority</th>
				</tr>
				<template v-for="( axisObj , axisIndex ) in axisNumObj[ causeObj.axis + 'Num' ] ">
					<tr>
						<td class="modeCauseCfgTdDsr">Mode {{ getCausePos( axisIndex , causeObj.axis ) }}: </td>
						<td class="modeCauseDirectionTd modeBtn" v-on:click="clickChgDirectionBtn" v-if="causeObj.direction==='up'"><i class="fa fa-angle-double-up"></i></td>
						<td class="modeCauseDirectionTd modeBtn" v-on:click="clickChgDirectionBtn" v-else><i class="fa fa-angle-double-down"></i></td>
						<td>
							<input class="modeCauseNoticeChk modeChk" type="checkbox" v-bind:id="'modeCauseNoticeChk_' + getCausePos( axisIndex , causeObj.axis )" v-bind:value="getCauseInputValue( 'notice' , getCausePos( axisIndex , causeObj.axis ) )" v-if="causeObj[ 'notice' + getCausePos( axisIndex , causeObj.axis ) ] === 1" checked>
							<input class="modeCauseNoticeChk modeChk" type="checkbox" v-bind:id="'modeCauseNoticeChk_' + getCausePos( axisIndex , causeObj.axis )" v-bind:value="getCauseInputValue( 'notice' , getCausePos( axisIndex , causeObj.axis ) )" v-else>
						</td>
						<td>
							<input class="modeCausePriorityChk modeChk" type="checkbox" v-bind:id="'modeCausePriorityChk_' + getCausePos( axisIndex , causeObj.axis )" v-bind:value="getCauseInputValue( 'priority' , getCausePos( axisIndex , causeObj.axis ) )" v-if="causeObj[ 'priority' + getCausePos( axisIndex , causeObj.axis ) ] === 1" checked>
							<input class="modeCausePriorityChk modeChk" type="checkbox" v-bind:id="'modeCausePriorityChk_' + getCausePos( axisIndex , causeObj.axis )" v-bind:value="getCauseInputValue( 'priority' , getCausePos( axisIndex , causeObj.axis ) )" v-else>
						</td>
					</tr>
					<template v-if="( axisIndex + 1 ) < axisNumObj[ causeObj.axis + 'Num' ]">
						<tr>
							<td></td>
							<td class="modeCauseCfgTdParm"><input type="text" class="modeCauseCfgParm" v-bind:id="'modeCauseCfgParm_' + getCausePos( axisIndex , causeObj.axis )" v-bind:value="getCauseInputValue( 'parm' , getCausePos( axisIndex , causeObj.axis ) )"></td>
							<td></td>
							<td></td>
						</tr>
					</template>
				</template>
			</tbody>
		</table>
		<div class="modeSaveBtnDiv btnDiv" v-on:click="submitCauseParm">Save</div>
	</div>
	<div class="modeCfgDiv modePanelCfgDiv" v-if="show">
		<div class="modeDragTypeDiv" axis="Shift">
			<div class="modeDragDiv modeDragCaseDiv modeTypeTitle">Shift</div>
			<div class="modeDragDiv btnDiv" v-for="causeObj in sortedCause" v-if="causeObj.axis==='Shift'" v-bind:name="causeObj.name" v-bind:class="{ modeDragCaseDiv: causeObj.draggable }">{{ causeObj.title }}
				<div v-if="causeObj.tooltip!=''" class="modeTooltipSn">{{ causeObj.tooltip }}</div>
			</div>
		</div>
		<div class="modeDragTypeDiv" axis="Spread">
			<div class="modeDragDiv modeDragCaseDiv modeTypeTitle">Spread</div>
			<div class="modeDragDiv btnDiv" v-for="causeObj in sortedCause" v-if="causeObj.axis==='Spread'" v-bind:name="causeObj.name" v-bind:class="{ modeDragCaseDiv: causeObj.draggable }">{{ causeObj.title }}
				<div v-if="causeObj.tooltip!=''" class="modeTooltipSn">{{ causeObj.tooltip }}</div>
			</div>
		</div>
		<div class="modeDragTypeDiv" axis="None">
			<div class="modeDragDiv modeDragCaseDiv modeTypeTitle">None</div>
			<div class="modeDragDiv btnDiv" v-for="causeObj in sortedCause" v-if="causeObj.axis==='None'" v-bind:name="causeObj.name" v-bind:class="{ modeDragCaseDiv: causeObj.draggable }">{{ causeObj.title }}
				<div v-if="causeObj.tooltip!=''" class="modeTooltipSn">{{ causeObj.tooltip }}</div>
			</div>
		</div>
		<div class="modeDragTypeDiv" axis="Disable">
			<div class="modeDragDiv modeDragCaseDiv modeTypeTitle">Disable</div>
			<div class="modeDragDiv btnDiv" v-for="causeObj in sortedCause" v-if="causeObj.axis==='Disable'" v-bind:name="causeObj.name" v-bind:class="{ modeDragCaseDiv: causeObj.draggable }">{{ causeObj.title }}
				<div v-if="causeObj.tooltip!=''" class="modeTooltipSn">{{ causeObj.tooltip }}</div>
			</div>
		</div>
	</div>
	<div class="modeCfgDiv modeOrderCfgSec" v-if="show">
		<div class="modeOrderCfgTitleDiv">Mode {{ " [ " + spreadPos + " , " + shiftPos + " ] " }} Order</div>
		<div class="modeSideOrderCfgDiv">
			<div class="modeBidOrderCfgDiv modeOrderCfgDiv">
				<div class="modeOrderTitleDiv">Bid Order
					<div class="modeAddOrderBtn btnDiv" v-on:click="addModeOrder( 'bid' , getOrderId('bid') )">
						<i class="fa fa-plus"></i>
					</div>
				</div>
				<template v-for="orderObj in getOrderAry"  v-if="orderObj.bidOrAsk==='bid'">
					<div class="modeOrderDiv">
						<input class="modeOrderBidOrAskInput" type="hidden" v-bind:value="orderObj.bidOrAsk">
						<input class="modeOrderIdInput" type="hidden" v-bind:value="orderObj.id">
						<input class="modeOrderMethodSecInput" type="hidden" v-bind:value="orderObj.methodSec">
						<table class="modeOrderTable">
							<tr>
								<td class="modeOrderDsrTd" rowspan="3">Pips (bid-)</td>
								<td class="modeOrderParmTd" rowspan="3">
									<input class="modeOrderInput modeOrderPipsInput" type="text" v-bind:value="orderObj.pips">
								</td>
								<td class="modeOrderDsrTd" rowspan="2">Update (Sec)</td>
								<td class="modeOrderParmTd" rowspan="2">
									<input class="modeOrderInput modeOrderUpdateInput" type="text" v-bind:value="orderObj.update">
								</td>
								<td class="modeOrderRemoveTd modeBtn" rowspan="2" v-on:click="removeModeOrder( orderObj )"><i class="fa fa-times"></i></td>
							</tr>
							<tr>
								<td class="modeOrderEmptyTd">&nbsp;</td>
							</tr>
							<tr>
								<td class="modeOrderDsrTd" rowspan="2">Replace (Sec)</td>
								<td class="modeOrderParmTd" rowspan="2">
									<input class="modeOrderInput modeOrderReplaceInput" type="text" v-bind:value="orderObj.replace">
								</td>
								<td class="modeOrderEmptyTd">&nbsp;</td>
							</tr>
							<tr>
								<td class="modeOrderDsrTd" rowspan="3">Qty (Lots)</td>
								<td class="modeOrderParmTd" rowspan="3">
									<input class="modeOrderInput modeOrderQtyInput" type="text" v-bind:value="orderObj.qty">
								</td>
								<td class="modeOrderEmptyTd">&nbsp;</td>
							</tr>
							<tr>
								<td class="modeOrderDsrTd" rowspan="2">Method</td>
								<td class="modeOrderParmTd" rowspan="2">
									<input class="modeOrderInput modeOrderMethodInput" type="text" v-bind:value="orderObj.method" readonly>
								</td>
								<td class="modeOrderEmptyTd">&nbsp;</td>
							</tr>
							<tr>
								<td class="modeOrderEmptyTd">&nbsp;</td>
							</tr>
						</table>
					</div>
				</template>
			</div>
			<div class="modeAskOrderCfgDiv modeOrderCfgDiv">
				<div class="modeOrderTitleDiv">Ask Order
					<div class="modeAddOrderBtn btnDiv" v-on:click="addModeOrder( 'ask' , getOrderId('ask') )">
						<i class="fa fa-plus"></i>
					</div>
				</div>
				<template v-for="orderObj in getOrderAry" v-if="orderObj.bidOrAsk==='ask'">
					<div class="modeOrderDiv">
						<input class="modeOrderBidOrAskInput" type="hidden" v-bind:value="orderObj.bidOrAsk">
						<input class="modeOrderIdInput" type="hidden" v-bind:value="orderObj.id">
						<input class="modeOrderMethodSecInput" type="hidden" v-bind:value="orderObj.methodSec">
						<table class="modeOrderTable">
							<tr>
								<td class="modeOrderDsrTd" rowspan="3">Pips (Ask+)</td>
								<td class="modeOrderParmTd" rowspan="3">
									<input class="modeOrderInput modeOrderPipsInput" type="text" v-bind:value="orderObj.pips">
								</td>
								<td class="modeOrderDsrTd" rowspan="2">Update (Sec)</td>
								<td class="modeOrderParmTd" rowspan="2">
									<input class="modeOrderInput modeOrderUpdateInput" type="text" v-bind:value="orderObj.update">
								</td>
								<td class="modeOrderRemoveTd modeBtn" rowspan="2" v-on:click="removeModeOrder( orderObj )"><i class="fa fa-times"></i></td>
							</tr>
							<tr>
								<td class="modeOrderEmptyTd">&nbsp;</td>
							</tr>
							<tr>
								<td class="modeOrderDsrTd" rowspan="2">Replace (Sec)</td>
								<td class="modeOrderParmTd" rowspan="2">
									<input class="modeOrderInput modeOrderReplaceInput" type="text" v-bind:value="orderObj.replace">
								</td>
								<td class="modeOrderEmptyTd">&nbsp;</td>
							</tr>
							<tr>
								<td class="modeOrderDsrTd" rowspan="3">Qty (Lots)</td>
								<td class="modeOrderParmTd" rowspan="3">
									<input class="modeOrderInput modeOrderQtyInput" type="text" v-bind:value="orderObj.qty">
								</td>
								<td class="modeOrderEmptyTd">&nbsp;</td>
							</tr>
							<tr>
								<td class="modeOrderDsrTd" rowspan="2">Method</td>
								<td class="modeOrderParmTd" rowspan="2">
									<input class="modeOrderInput modeOrderMethodInput" type="text" v-bind:value="orderObj.method" readonly>
								</td>
								<td class="modeOrderEmptyTd">&nbsp;</td>
							</tr>
							<tr>
								<td class="modeOrderEmptyTd">&nbsp;</td>
							</tr>
						</table>
					</div>
				</template>
			</div>
		</div>
		<div class="modeSaveBtnDiv btnDiv" v-on:click="submitOrderParm">Save</div>
	</div>
	<div class="modeCfgDiv modeActionCfgSec" v-if="show">
		<div class="modeActionCfgTitleDiv">{{axis}} {{pos}} Action</div>
		<table class="modeActionTable">
			<tr v-for="item in gModeActionCfgAry" v-bind:class="[ 'modeAction' + item.name + 'Tr' , 'modeActionTr' ]" v-if="checkAxis( item )">
				<td>
					{{item.title}} <span v-if="item.unit !=='' ">{{ "(" + item.unit + ")" }}</span>
				</td>
				<td class="modeActionChkTd">
					<template v-if="item.showChk">
						<input v-if="item.on" class="modeChk" type="checkbox" checked>
						<input v-else class="modeChk" type="checkbox">
					</template>
				</td>
				<td>
					<input v-if="item.showParm" class="modeParm" type="text" v-bind:value="item.parm">
				</td>
				<input class="modeHiddenVal" type="hidden" v-bind:value="item.name">
			</tr>
		</table>
		<div class="modeSaveBtnDiv btnDiv" v-on:click="submitActionParm">Save</div>
	</div>
</div>
<div class="modeChartSec confSec">
	<input type="hidden" class="modeChartCauseName">
	<div class="hideChartSecBtn btnDiv"><i class="fa fa-times"></i></div>
	<div id="modeChartDiv">
	</div>
</div>