#jPanelSC{
	width: 700px;
	height: 270px;
	background: #fafafa;
	padding: 5px;
	color: #3e3e3e;
	user-select: none;
	display: inline-flex;
	font-family: 'Roboto Condensed', sans-serif;
}
#jPanelSC a{
	color:#000;
}
#jPanelSC a:hover{
	color:#000;
}
#scTitle{
	text-align: center;
}
#shortcut{
	width: 350px;
	height: 260px;
	background: #dfdfdf;
	padding: 5px;
}
#taskDiv{
	width: 100px;
	position: absolute;
	left: 348px;
	top: 9px;
	z-index: 2;
}
#taskMenu {
	display:none;
	margin: 0px;
	padding: 0px;
}
#taskMenu li {
	height: 34px;
	padding: 5px 0;
	text-align: center;
	width: 100px;
	list-style-type: none;
	padding: 0px;
	padding-top: 13px;
	background: #fafafa;
	line-height: 10px;
}
#taskMenu li:hover
{
	background: #dfdfdf;
}
.subMenu{
	display: none;
}
#taskMenu li:hover .subMenu
{
	display: block;
	margin-top: -23px;
}
.subMenu li
{
	position: relative;
	left: 100%;
	width: 100px;
	list-style-type: none;
}
#scBox{
	background: #fafafa;
	width: 334px;
	height: 229px;
	position: absolute;
	overflow: overlay;
}
#scList{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	display: inline-block;
}
.scLink{
	width: 50px;
	height: 56px;
	cursor: pointer;
	text-align: center;
	background: #efefef;
	padding: 5px;
	margin-left: 10px;
	margin-top: 8px;
	float: left;
	line-height: 22px;
}
.scLink:hover{
	box-shadow: 0px 0px 0px 0.4px black inset;
}
#scDrop{
	width: 36px;
	height: 34px;
	left: 288px;
	top: 99px;
	text-align: center;
	line-height: 36px;
	font-weight: bolder;
	position: absolute;
	font-size: 28px;
	background: rgba(239, 239, 239, 0.4);
	color: rgba(0, 0, 0, 0.19);
}
#scDrop:hover{
	background: rgba(239, 239, 239, 1);
	color: rgba(0, 0, 0, 1);
}
#menuBtn{
	text-align: center;
}
#menuBtn:hover #taskMenu{
	display:block;
}
#scContent{
	height: 260px;
	width: 354px;
}

#scKbDiv {
	width: 345px;
	height: 260px;
	margin-left: 2px;
	background: #fafafa;
}
#scKbUI {
	margin: 0px;
	padding: 5px;
	position:relative;
	top:47px;
	list-style: none;
}
#scKbUI li {
	float: left;
	margin: 0 0.3% 0.8% 0;
	width: 6.4%;
	line-height: 26px;
	text-align: center;
	background: #fff;
	border: 1px solid #e3e5ed;
	font-size: 70%;
}
#scKbUI .capslock, .tab, .left-shift {
	clear: left;
}
#scKbUI .tab, #scKbUI .delete {
	width: 12%;
}
#scKbUI .capslock {
	width: 13%;
}
#scKbUI .return {
	width: 11.5%;
}
#scKbUI .left-shift {
	width: 14%;
}
#scKbUI .right-shift {
	width: 17%;
}
#scKbUI .space {
	clear: left;
	width: 98%;
	color: rgba(0, 0, 0, 0)!important;
	text-shadow: none!important;
}
#scKbUI .scKey{
	font-size: 14px;
	transition: .4s;
}
#scKbUI .scKey:hover {
	cursor: pointer;
	border-color: black;
}
#menuSign{
	font-size: 42px;
	color: rgba(0, 0, 0, 0.3);
	line-height: 25px;
}
#menuBtn:hover #menuSign{
	color: rgba(0, 0, 0, 1);
}